Repository OpenDreamProject/OpenDream, pull requests merged in 2024-08, with the labels that each got.

#1891 Add CI testing for DMDisassembler
  .github/workflows/compiler-test.yml
  DMDisassembler/DMDisassembler.csproj
  DMDisassembler/Program.cs
Labels: Compiler, size/M

#1904 Add a Tools build to GitHub releases
  .github/workflows/build-test.yml
  OpenDreamPackageTool/Program.cs
Labels: size/M

#1905 restores opendream_unimplemented warnings for procs with empty bodies in DMStandard
  Content.Tests/DMProject/Tests/SetStatements/unimplemented_with_body.dm
  Content.Tests/DMProject/Tests/SetStatements/unimplemented_without_body.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/S

#1906 Implement `walk()` and `walk_rand()`
  DMCompiler/DMStandard/UnsortedAdditions.dm
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeHelpers.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamRuntime/WalkManager.cs
  TestGame/code.dm
Labels: Compiler, Runtime, size/L

#1918 Slight optimisation in viewer() and oviewer()
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/XS

#1927 Fix compiling TestGame in BYOND
  TestGame/code.dm
Labels: size/S

#1916 Update README.md with easy instructions to use the extension
  README.md
Labels: size/XS

#1909 Smarter parsing of modified types
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DreamPath.cs
Labels: Compiler, size/S

#1930 Strip colons from the server IPs in the cache directory
  OpenDreamClient/Resources/DreamResourceManager.cs
Labels: Client, size/XS

#1935 Add missing environment vairable to TGS tests
  .github/workflows/test-tgs.yml
Labels: size/XS

#1802 implement `/database` and `/database/query`
  Content.Tests/DMProject/Tests/Database/clear.dm
  Content.Tests/DMProject/Tests/Database/error.dm
  Content.Tests/DMProject/Tests/Database/new_empty.dm
  Content.Tests/DMProject/Tests/Database/no_entries.dm
  Content.Tests/DMProject/Tests/Database/open_and_open.dm
  Content.Tests/DMProject/Tests/Database/read.dm
  Content.Tests/DMProject/Tests/Database/too_many_or_few_params.dm
  DMCompiler/DMStandard/Types/Database.dm
  DMCompiler/DMStandard/UnsortedAdditions.dm
  DMCompiler/DMStandard/_Standard.dm
  DMCompiler/DreamPath.cs
  OpenDreamRuntime/Objects/DreamObjectTree.cs
  OpenDreamRuntime/Objects/Types/DreamObjectDatabase.cs
  OpenDreamRuntime/Objects/Types/DreamObjectDatabaseQuery.cs
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeDatabase.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeDatabaseQuery.cs
Labels: Compiler, Runtime, size/XL

#1924 Convert DreamValue.cs to file-scoped namespace
  OpenDreamRuntime/DreamValue.cs
Labels: Runtime, size/XXL

#1932 VSCode Extension Hot Reload Enable
  OpenDreamRuntime/DreamManager.Connections.cs
  OpenDreamRuntime/Procs/DebugAdapter/DreamDebugManager.cs
  OpenDreamRuntime/Procs/DebugAdapter/Protocol/Request.cs
  OpenDreamRuntime/Procs/DebugAdapter/Protocol/RequestHotReloadInterface.cs
  OpenDreamRuntime/Procs/DebugAdapter/Protocol/RequestHotReloadResource.cs
Labels: Runtime, size/M

#1923 Clean up lots of warnings in DreamProcNativeRoot.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/M

#1944 Fix nullable warnings when using token.Value
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/Compiler/DM/DMParserHelper.cs
  DMCompiler/Compiler/DMM/DMMParser.cs
  DMCompiler/Compiler/DMPreprocessor/DMMacro.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorParser.cs
  DMCompiler/Compiler/Parser.cs
  DMCompiler/Compiler/Token.cs
Labels: Compiler, size/M

#1937 Implement `right-click` parameter
  OpenDreamClient/Input/MouseInputSystem.cs
  OpenDreamClient/Interface/Controls/ControlMap.cs
Labels: Client, size/S

#1939 Fix goon layering issue
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  TestGame/renderer_tests.dm
Labels: Client, size/M

#1940 Fix remaining click param issues
  OpenDreamRuntime/Input/MouseInputSystem.cs
  OpenDreamShared/Dream/ScreenLocation.cs
Labels: Runtime, Client, size/M

#1941 Add an icon debugging tool
  OpenDreamClient/Input/ContextMenu/ContextMenuItem.xaml.cs
  OpenDreamClient/Input/ContextMenu/VerbMenuPopup.xaml.cs
  OpenDreamClient/Interface/DebugWindows/IconDebugWindow.xaml
  OpenDreamClient/Interface/DebugWindows/IconDebugWindow.xaml.cs
  OpenDreamClient/Interface/DebugWindows/MacrosWindow.cs
  OpenDreamClient/Interface/DebugWindows/VerbsWindow.cs
  OpenDreamClient/Interface/DreamStylesheet.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/L

#1945 Fix nullability warnings in JSON definitions
  DMCompiler/DM/DMObjectTree.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/Json/DreamCompiledJson.cs
  DMCompiler/Json/DreamMapJson.cs
  DMCompiler/Json/DreamObjectJson.cs
  DMCompiler/Json/DreamProcJson.cs
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Compiler, Runtime, size/L

#1942 Implement special `winget` for `url`
  OpenDreamClient/Interface/DreamInterfaceManager.cs
Labels: Client, size/XS
