Repository OpenDreamProject/OpenDream, pull requests merged in 2024-10, with the labels that each got.

#2004 Compile /vg/ in CI
  .github/workflows/compiler-test.yml
Labels: size/XS

#2003 Operator overload refactor via re-entrant threads, list operator overload improvement
  Content.Tests/DMProject/Tests/Operators/Overloads/list_ops.dm
  DMCompiler/Compiler/DM/DMParser.cs
  OpenDreamRuntime/DreamThread.cs
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMatrix.cs
  OpenDreamRuntime/Objects/Types/DreamObjectSavefile.cs
  OpenDreamRuntime/Procs/AssignRefProcState.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Compiler, Runtime, size/L

#2007 fix null statpanel
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamRuntime/Objects/Types/DreamObjectClient.cs
Labels: Runtime, size/XS

#2006 HSL colorspace
  Content.Tests/DMProject/Tests/Builtins/rgb.dm
  OpenDream.sln.DotSettings
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamShared/Dream/ColorHelpers.cs
Labels: Runtime, Client, size/M

#2010 check if sounds are deleted
  OpenDreamClient/Audio/DreamSoundEngine.cs
  OpenDreamClient/Audio/IDreamSoundEngine.cs
  OpenDreamClient/EntryPoint.cs
Labels: Client, size/S

#2012 Update the README screenshots
  .github/assets/screenshot.png
  .github/assets/screenshot2.png
  README.md
Labels: size/XS

#2013 goon screenshot
  .github/assets/screenshot3.png
  README.md
Labels: size/XS

#1920 ADOPTED: Datum softdels
  Content.Tests/DMTests.cs
  DMCompiler/DMStandard/Types/Datum.dm
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/DreamObjectTree.cs
  OpenDreamRuntime/Objects/Types/DreamObjectAtom.cs
  OpenDreamRuntime/Objects/Types/DreamObjectClient.cs
  OpenDreamRuntime/Objects/Types/DreamObjectDatabase.cs
  OpenDreamRuntime/Objects/Types/DreamObjectDatabaseQuery.cs
  OpenDreamRuntime/Objects/Types/DreamObjectFilter.cs
  OpenDreamRuntime/Objects/Types/DreamObjectImage.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMovable.cs
  OpenDreamRuntime/Objects/Types/DreamObjectSavefile.cs
  OpenDreamRuntime/Objects/Types/DreamObjectWorld.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Util/WeakDreamRef.cs
Labels: Compiler, Runtime, size/L

#2016 Fix gliding
  OpenDreamClient/Rendering/AtomGlideSystem.cs
Labels: Client, size/S

#2014 test cm in od ci
  .github/workflows/compiler-test.yml
Labels: size/XS

#1984 Handle `var/list/foo[]= value` in proc statements
  Content.Tests/DMProject/Tests/List/DoubleSquareBracketEquals.dm
  DMCompiler/Compiler/DM/DMParser.cs
Labels: Compiler, size/S

#1982 Fix an issue with deref operations
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
Labels: Compiler, size/XS

#2021 Implement /area's `x`/`y`/`z` vars
  Content.Tests/DummyDreamMapManager.cs
  OpenDreamRuntime/DreamMapManager.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectArea.cs
Labels: Runtime, size/L

#2022 Fix mousemap rendering
  OpenDreamClient/Rendering/DreamPlane.cs
Labels: Client, size/XS

#2011 Add a `dump-all` command to the disassembler
  DMDisassembler/DMProc.cs
  DMDisassembler/Program.cs
Labels: Compiler, size/M

#2024 Handle `/icon.Blend()`-ing a small icon onto a bigger one
  OpenDreamRuntime/Objects/DreamIcon.cs
Labels: Runtime, size/XS

#2026 Alias ref-ID `0xC` to `0x27` for now
  OpenDreamRuntime/DreamManager.cs
Labels: Runtime, size/XS

#2028 Fix a few bugs in `browse()`
  OpenDreamClient/Interface/Controls/ControlBrowser.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
Labels: Client, size/M

#1665 Fixes `.` in `spawn()`
  Content.Tests/DMProject/Tests/Statements/Control Flow/spawn_self_test.dm
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Runtime, size/XS

#1978 Fix setting a static var to a const var
  Content.Tests/DMProject/Tests/Const/StaticEqualsConstVar.dm
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
Labels: Compiler, size/S

#2029 `world.sleep_offline` fixes
  DMCompiler/DMStandard/Types/World.dm
  OpenDreamRuntime/EntryPoint.cs
Labels: Compiler, Runtime, size/XS

#2034 Call parent in `/turf/Enter()` and `/turf/Exit()`
  DMCompiler/DMStandard/Types/Atoms/Turf.dm
Labels: Compiler, size/XS

#2035 Fix regex `\l` inside brackets
  OpenDreamRuntime/Objects/Types/DreamObjectRegex.cs
Labels: Runtime, size/M

#2036 Add Aurorastation to compiler CI
  .github/workflows/compiler-test.yml
Labels: size/XS

#2042 Cope with \L in regex brackets
  OpenDreamRuntime/Objects/Types/DreamObjectRegex.cs
Labels: Runtime, size/S

#2039 Run UI controls in the background
  OpenDreamClient/Interface/Controls/ControlMap.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
Labels: Client, size/M

#2045 Apply UIScale to ControlWindow size
  OpenDreamClient/Interface/Controls/ControlWindow.cs
Labels: Client, size/XS

#2043 Add a unit test for `\L`
  Content.Tests/DMProject/Tests/Regex/regex_L_brackets.dm
Labels: size/XS

#2048 `DreamValue` cleanup
  OpenDreamRuntime/DreamValue.cs
Labels: Runtime, size/M

#2049 `ReturnFloat` peephole optimization
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, Runtime, size/S

#2058 Rename `AssignPop` to `AssignNoPush`
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, Runtime, size/S

#2064 Lint for `/var/` in proc args
  Content.Tests/DMProject/Tests/Arg/ProcArgumentGlobal_lint.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/S

#2054 Peephole optimizer & proc decoder fixes
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  DMCompiler/Optimizer/PeepholeOptimizer.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, Runtime, size/L

#2057 Add an `AppendNoPush` optimization
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, Runtime, size/M

#2051 Fix mob key not accepting canonized keys
  OpenDreamRuntime/Objects/Types/DreamObjectMob.cs
  TestGame/code.dm
  TestGame/map_z1.dmm
Labels: Runtime, size/M

#2032 Halves `OpenDreamClient` warnings
  OpenDreamClient/EntryPoint.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuPopup.xaml.cs
  OpenDreamClient/Interface/BrowsePopup.cs
  OpenDreamClient/Interface/Controls/ControlChild.cs
  OpenDreamClient/Interface/Controls/ControlTab.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/DMF/IDMFProperty.cs
  OpenDreamClient/Interface/Descriptors/InterfaceDescriptor.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/Html/HtmlParser.cs
  OpenDreamClient/Interface/InterfaceElement.cs
  OpenDreamClient/OpenDreamClient.csproj
  OpenDreamClient/Rendering/AtomGlideSystem.cs
  OpenDreamClient/Rendering/ClientImagesSystem.cs
Labels: Client, size/L
