Repository OpenDreamProject/OpenDream, pull requests merged in 2024-06, with the labels that each got.

#1823 Pass ` --suppress-unimplemented` to the compiler workflow
  .github/workflows/compiler-test.yml
Labels: size/S

#1822 Add new optional lint for weighted pick() syntax
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/DM/Expressions/Builtins.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/XS

#1827 Set max blank lines in ReSharper and Rider formatting to 1
  .editorconfig
  OpenDream.sln.DotSettings
Labels: Client, size/S

#1820 Pointer Parsing
  DMCompiler/Compiler/DM/AST/DMAST.ExpressionUnary.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Expressions/Unary.cs
Labels: Compiler, size/M

#1828 Fix duplicate `browse_rsc()` calls
  OpenDreamClient/Resources/DreamResourceManager.cs
  OpenDreamRuntime/DreamConnection.cs
  TestGame/code.dm
Labels: Runtime, Client, size/XS

#1825 Cache icon renders between frames
  OpenDreamClient/Input/ContextMenu/ContextMenuItem.xaml.cs
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamClient/Rendering/DMISpriteSystem.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamPlane.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/L

#1757 Turn DMF properties into DMFProperty types
  OpenDreamClient/Interface/BrowsePopup.cs
  OpenDreamClient/Interface/Controls/ControlBar.cs
  OpenDreamClient/Interface/Controls/ControlBrowser.cs
  OpenDreamClient/Interface/Controls/ControlButton.cs
  OpenDreamClient/Interface/Controls/ControlChild.cs
  OpenDreamClient/Interface/Controls/ControlInfo.cs
  OpenDreamClient/Interface/Controls/ControlInput.cs
  OpenDreamClient/Interface/Controls/ControlLabel.cs
  OpenDreamClient/Interface/Controls/ControlMap.cs
  OpenDreamClient/Interface/Controls/ControlTab.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/Controls/InterfaceControl.cs
  OpenDreamClient/Interface/DMF/IDMFProperty.cs
  OpenDreamClient/Interface/DebugWindows/MacrosWindow.cs
  OpenDreamClient/Interface/Descriptors/ControlDescriptors.cs
  OpenDreamClient/Interface/Descriptors/InterfaceDescriptor.cs
  OpenDreamClient/Interface/Descriptors/MacroDescriptors.cs
  OpenDreamClient/Interface/Descriptors/MenuDescriptors.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/InterfaceElement.cs
  OpenDreamClient/Interface/InterfaceMacro.cs
  OpenDreamClient/Interface/InterfaceMenu.cs
  OpenDreamRuntime/DreamConnection.cs
  Resources/OpenDream/DefaultInterface.dmf
  TestGame/TestInterface.dmf
  TestGame/code.dm
  TestGame/environment.dme
Labels: Runtime, Client, size/XXL

#1824 Handle `fexists()` in the preprocessor
  Content.Tests/DMProject/Tests/Preprocessor/fexists_fail.dm
  Content.Tests/DMProject/Tests/Preprocessor/fexists_pass.dm
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorParser.cs
Labels: Compiler, size/M

#1830 Fix color/filter rendering on keep-together icons
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/M

#1831 Improvements to the CHILD control
  OpenDream.sln
  OpenDreamClient/Input/MouseInputSystem.cs
  OpenDreamClient/Interface/Controls/ControlChild.cs
  OpenDreamClient/Interface/Controls/ControlInfo.cs
  OpenDreamClient/Interface/Controls/ControlMap.cs
  OpenDreamClient/Interface/Controls/UI/ScalingViewport.cs
  OpenDreamClient/Interface/Controls/UI/Splitter.cs
  OpenDreamClient/Interface/Controls/UI/VerbPanelGrid.cs
  OpenDreamClient/Interface/Descriptors/ControlDescriptors.cs
  OpenDreamClient/Interface/InterfaceElement.cs
  Resources/OpenDream/DefaultInterface.dmf
  TestGame/TestInterface.dmf
Labels: Client, size/L

#1779 Enable hot reloading of interface files
  DMCompiler/DMStandard/Types/World.dm
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamRuntime/DreamManager.Connections.cs
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeWorld.cs
  OpenDreamRuntime/Resources/DreamResourceManager.cs
  TestGame/TestInterface.dmf
  TestGame/code.dm
Labels: Compiler, Runtime, Client, size/L

#1835 Range and Orange return empty list on null center.
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/XS

#1834 Handle `initial(type)` and `initial(parent_type)`
  Content.Tests/DMProject/Tests/Special Procs/initial/initial_parent_type.dm
  Content.Tests/DMProject/Tests/Special Procs/initial/initial_type.dm
  OpenDreamRuntime/Objects/DreamObject.cs
Labels: Runtime, size/S

#1836 Reduce size of appearances being sent over the network
  OpenDreamClient/EntryPoint.cs
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/DreamManager.Connections.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamRuntime/Rendering/ServerAppearanceSystem.cs
  OpenDreamShared/Dream/ColorMatrix.cs
  OpenDreamShared/Dream/IconAppearance.cs
  OpenDreamShared/Network/Messages/MsgAllAppearances.cs
  OpenDreamShared/Rendering/SharedAppearanceSystem.cs
Labels: Runtime, Client, size/XXL

#1838 Fix sandbox violations
  OpenDream.sln.DotSettings
  OpenDreamShared/Dream/IconAppearance.cs
Labels: Runtime, Client, size/S

#1837 Handle nulls in all equality comparisons
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Runtime, size/XS

#1840 Improves viewers and oviewers.
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/M

#1765 Basic Compiler Optimizations 3: Revenge of the LINQ
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/DMExpression.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/Json/DreamProcJson.cs
  DMCompiler/Optimizer/AnnotatedByteCodeWriter.cs
  DMCompiler/Optimizer/AnnotatedBytecode.cs
  DMCompiler/Optimizer/AnnotatedBytecodeSerializer.cs
  DMCompiler/Optimizer/BytecodeOptimizer.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  DMCompiler/Optimizer/PeepholeOptimizer.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Compiler, Runtime, size/XXL

#1832 Add proper size and pos formatting to DMF properties
  OpenDreamClient/Interface/BrowsePopup.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/Controls/InterfaceControl.cs
  OpenDreamClient/Interface/DMF/IDMFProperty.cs
  OpenDreamClient/Interface/Descriptors/ControlDescriptors.cs
Labels: Client, size/L

#1808 Implement a few easy operator overloads
  Content.Tests/DMProject/Tests/Operators/Overloads/complex_numbers.dm
  DMCompiler/Compiler/DM/DMParser.cs
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMatrix.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Compiler, Runtime, size/L

#1844 Suppress the MissingBlankLines warning on DreamProcOpcode
  DMCompiler/Bytecode/DreamProcOpcode.cs
Labels: Compiler, size/XS

#1843 Peephole optimize proc returns
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Compiler, Runtime, size/M

#1849 Fix transforms on overlays
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/XS

#1846 Fix peephole optimizations in a few important scenarios
  DMCompiler/Optimizer/PeepholeOptimizer.cs
Labels: Compiler, size/M

#1852 fixes the workflow node deprecations and shit
  .github/workflows/pr-labeler.yml
Labels: size/XS

#1798 handles shrinking maxx/y
  Content.IntegrationTests/DMProject/Tests/range.dm
  OpenDreamRuntime/DreamMapManager.cs
  TestGame/code.dm
Labels: Runtime, size/M

#1839 Add more styling to the interface
  OpenDreamClient/Interface/Controls/ControlButton.cs
  OpenDreamClient/Interface/Controls/ControlChild.cs
  OpenDreamClient/Interface/Controls/ControlInfo.cs
  OpenDreamClient/Interface/Controls/ControlOutput.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/Controls/InterfaceControl.cs
  OpenDreamClient/Interface/Controls/UI/Splitter.cs
  OpenDreamClient/Interface/Controls/UI/StyleBoxColoredTexture.cs
  OpenDreamClient/Interface/Controls/UI/StyleBoxInfoPanel.cs
  OpenDreamClient/Interface/DreamStylesheet.cs
  OpenDreamClient/Interface/InterfaceMenu.cs
  Resources/Textures/Interface/Button.png
  Resources/Textures/Interface/PanelBorder.png
  Resources/Textures/Interface/SplitterBorder.png
  Resources/Textures/Interface/TabButton.png
Labels: Client, size/L

#1858 Give browser controls a white background
  OpenDreamClient/Interface/Controls/ControlBrowser.cs
Labels: Client, size/S

#1857 Fix /mutable_appearance/New() named args
  Content.Tests/DMProject/Tests/Image/mutableappearance_arguments.dm
  DMCompiler/DMStandard/Types/Mutable_Appearance.dm
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Compiler, Runtime, size/S

#1851 Move functional "broken" tests to Tests
  Content.Tests/DMProject/Tests/List/readonly1.dm
  Content.Tests/DMProject/Tests/List/readonly2.dm
  Content.Tests/DMProject/Tests/List/readonly3.dm
  Content.Tests/DMProject/Tests/List/readonly4.dm
  Content.Tests/DMProject/Tests/Preprocessor/escaped_macro1.dm
  Content.Tests/DMProject/Tests/Preprocessor/escaped_macro2.dm
  Content.Tests/DMProject/Tests/Preprocessor/escapes_brackets.dm
  Content.Tests/DMProject/Tests/Special Procs/locate/tag_deleted_obj.dm
  Content.Tests/DMProject/Tests/Special Procs/locate/tag_empty_string.dm
  Content.Tests/DMProject/Tests/Special Procs/locate/tag_nulled.dm
  Content.Tests/DMProject/Tests/Statements/Control Flow/goto_inside_loop.dm
  Content.Tests/DMProject/Tests/Statements/For/nonlocal_var.dm
  Content.Tests/DMProject/Tests/Statements/Switch/else_if.dm
  Content.Tests/DMProject/Tests/Tree/Const/sort_const_initialize.dm
Labels: size/XS

#1856 Peephole Const Folding - Part 1
  DMCompiler/DM/Builders/DMASTFolder.cs
  DMCompiler/DM/Expressions/Dereference.cs
  DMCompiler/DM/Expressions/LValue.cs
  DMCompiler/DMStandard/Types/Datum.dm
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  DMCompiler/Optimizer/PeepholeOptimizer.cs
Labels: Compiler, size/L

#1853 Implement multiplyref & divideref operator overloads
  Content.Tests/DMProject/Tests/Operators/Overloads/complex_numbers.dm
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DreamPath.cs
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMatrix.cs
  OpenDreamRuntime/Procs/AssignRefProcState.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Compiler, Runtime, size/L

#1860 Implement `null | value`
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Runtime, size/XS

#1859 Optimize `new /icon(icon)`
  OpenDreamRuntime/Objects/DreamIcon.cs
  OpenDreamRuntime/Objects/Types/DreamObjectIcon.cs
  OpenDreamRuntime/Objects/Types/DreamObjectImage.cs
Labels: Runtime, size/M

#1861 Fix `goto` inside multiple enumerator loops
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/Optimizer/AnnotatedByteCodeWriter.cs
  DMCompiler/Optimizer/AnnotatedBytecode.cs
  DMCompiler/Optimizer/AnnotatedBytecodeSerializer.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, Runtime, size/L

#1864 Adds TOPDOWN_LAYER to the dm standard defines set
  DMCompiler/DMStandard/Defines.dm
Labels: Compiler, size/XS

#1862 Fix `filters = list("type"=...)`
  OpenDreamRuntime/DreamValue.cs
  OpenDreamRuntime/Objects/Types/DreamObjectAtom.cs
  OpenDreamRuntime/Objects/Types/DreamObjectFilter.cs
  OpenDreamRuntime/Objects/Types/DreamObjectImage.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeHelpers.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/L

#1813 Implement `ANIMATION_RELATIVE`
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMatrix.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  TestGame/renderer_tests.dm
Labels: Runtime, Client, size/M

#1780 Resource Hot Reloading
  DMCompiler/DMStandard/Types/World.dm
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Resources/DreamResourceManager.cs
  OpenDreamClient/Resources/ResourceTypes/DMIResource.cs
  OpenDreamClient/Resources/ResourceTypes/DreamResource.cs
  OpenDreamRuntime/DreamManager.Connections.cs
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeWorld.cs
  OpenDreamRuntime/Resources/DreamResourceManager.cs
  OpenDreamShared/Network/Messages/MsgNotifyResourceUpdate.cs
  TestGame/TestInterface.dmf
  TestGame/code.dm
Labels: Compiler, Runtime, Client, size/L
