Repository OpenDreamProject/OpenDream, pull requests merged in 2024-07, with the labels that each got.

#1870 Add missing params var to sound
  DMCompiler/DMStandard/Types/Sound.dm
Labels: Compiler, size/XS

#1867 Implement `byond://winget?...`
  OpenDreamClient/EntryPoint.cs
  OpenDreamClient/Interface/Controls/ControlBrowser.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/Controls/InterfaceControl.cs
  OpenDreamClient/Interface/DMF/DMFParser.cs
  OpenDreamClient/Interface/DMF/IDMFProperty.cs
  OpenDreamClient/Interface/Descriptors/InterfaceDescriptor.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/DummyDreamInterfaceManager.cs
  OpenDreamClient/Interface/InterfaceElement.cs
Labels: Client, size/L

#1875 Implement `.output` client command
  OpenDreamClient/Interface/DreamInterfaceManager.cs
Labels: Client, size/M

#1874 Add `pixel_w` to `animate()`'s args
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/M

#1878 Fix sandbox errors in .NET 8.0.300
  OpenDreamClient/Interface/DMF/DMFLexer.cs
  OpenDreamClient/Interface/DMF/IDMFProperty.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
Labels: Client, size/M

#1866 Add missing instructions to ProcDecoder
  DMCompiler/Bytecode/DreamProcOpcode.cs
  OpenDreamRuntime/Procs/DebugAdapter/DebugAdapter.cs
  OpenDreamRuntime/Procs/DebugAdapter/DebugAdapterClient.cs
  OpenDreamRuntime/Procs/DebugAdapter/DreamDebugManager.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, Runtime, size/L

#1877 Lint for invalid datum[] indexing
  Content.Tests/DMProject/Tests/Dereference/DatumIndex.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/DM/Expressions/Dereference.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/S

#1880 Don't give `.` a type
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
Labels: Compiler, size/XS

#1868 Implement `/area` appearances
  Content.Tests/DummyDreamMapManager.cs
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/DreamMapManager.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectArea.cs
  OpenDreamRuntime/Rendering/ServerAppearanceSystem.cs
  TestGame/code.dm
  TestGame/map_z1.dmm
Labels: Runtime, size/M

#1883 Fix `initial(path.parent_type)` and `initial(path.type)`
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Runtime, size/M

#1884 Handle appending `null` to `vis_contents`
  OpenDreamRuntime/Objects/Types/DreamList.cs
Labels: Runtime, size/XS

#1882 Use an IRenderTexture pool in DreamIcon
  OpenDreamClient/DreamClientSystem.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuItem.xaml.cs
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamClient/Rendering/DMISpriteSystem.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamClient/Rendering/RenderTargetPool.cs
Labels: Client, size/L

#1770 Lint for redundant positional arguments.
  Content.Tests/DMProject/Tests/Call/RedundantPositionalKey.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/DM/DMExpression.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/S

#1886 Implement `/world/Error()`'s default `..()` behavior
  OpenDreamRuntime/DreamThread.cs
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeWorld.cs
Labels: Runtime, size/XL

#1889 FIxed transforms applying to mousemaps
  OpenDreamClient/Rendering/DreamPlane.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/M

#1890 Fix the rendering offset for more complex textures in the mouse map
  OpenDreamClient/Rendering/DreamPlane.cs
Labels: Client, size/XS

#1894 Error cleaner on printing unitialised dreamvalue
  OpenDreamRuntime/DreamValue.cs
Labels: Runtime, size/XS

#1896 Fix `catch` in procs with arguments
  Content.Tests/DMProject/Tests/Statements/Control Flow/try_catch5.dm
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Runtime, size/S

#1893 Fix: excess tab after #if (#1885)
  Content.Tests/DMProject/Tests/Preprocessor/Conditional/nested_if9.dm
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
Labels: Compiler, size/S

#1873 Implement `client.show_popup_menus`
  DMCompiler/DMStandard/Types/Client.dm
  OpenDreamClient/Input/MouseInputSystem.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/DummyDreamInterfaceManager.cs
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamRuntime/Objects/Types/DreamObjectClient.cs
  OpenDreamShared/Network/Messages/MsgUpdateClientInfo.cs
  TestGame/code.dm
Labels: Compiler, Runtime, Client, size/M

#1758 Remove CompileErrorException
  Content.Tests/DMProject/Tests/Expression/Derefs/untyped/ident.dm
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Builders/DMObjectBuilder.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/DMExpression.cs
  DMCompiler/DM/DMObject.cs
  DMCompiler/DM/DMObjectTree.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/Expressions/Binary.cs
  DMCompiler/DM/Expressions/Builtins.cs
  DMCompiler/DM/Expressions/Constant.cs
  DMCompiler/DM/Expressions/Dereference.cs
  DMCompiler/DM/Expressions/LValue.cs
  DMCompiler/DM/Expressions/Procs.cs
  DMCompiler/DM/Expressions/Unary.cs
  DMCompiler/Optimizer/AnnotatedByteCodeWriter.cs
  DMCompiler/Optimizer/AnnotatedBytecodeSerializer.cs
  OpenDream.sln.DotSettings
Labels: Compiler, size/XXL

#1895 fix globals order in debugger
  OpenDreamRuntime/Procs/DebugAdapter/DreamDebugManager.cs
Labels: Runtime, size/XS

#1898 Implements `winget()` formatting
  OpenDreamClient/Interface/DMF/IDMFProperty.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/DummyDreamInterfaceManager.cs
Labels: Client, size/M

#1900 Fix default /world/Error()
  OpenDreamRuntime/DreamThread.cs
  OpenDreamRuntime/Objects/DreamObjectDefinition.cs
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
Labels: Runtime, size/S

#1901 Fix `istype(..., appearance)`
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Runtime, size/S

#1869 Actually use the cache instead of just storing it thousands of times
  OpenDreamClient/Resources/DreamResourceManager.cs
Labels: Client, size/S

#1903 HtmlParser: Support named entities in body text
  OpenDreamClient/Interface/Html/HtmlParser.cs
Labels: Client, size/M
