Repository OpenDreamProject/OpenDream, pull requests merged in 2024-12, with the labels that each got.

#2112 Fix stringifying infinity
  Content.Tests/DMProject/Broken Tests/Expression/Constants/numeral_inf.dm
  Content.Tests/DMProject/Tests/Expression/Constants/stringify_inf.dm
  OpenDreamRuntime/DreamValue.cs
Labels: Runtime, size/S

#2109 Deal with passing Broken Tests
  Content.Tests/DMProject/Broken Tests/Tree/pathop_lhs.dm
  Content.Tests/DMProject/Tests/Expression/String/raw1.dm
Labels: size/S

#2119 Explicitly remind people about 64-bit binaries in the DLL error
  OpenDreamRuntime/Procs/DllHelper.cs
Labels: Runtime, size/XS

#2121 Fix initial filter in object defs and adds test
  Content.IntegrationTests/DMProject/Tests/filter_initial.dm
  Content.IntegrationTests/DMProject/code.dm
  Content.IntegrationTests/DMProject/environment.dme
  DMCompiler/DM/DMCodeTree.Vars.cs
Labels: Compiler, size/S

#2122 Fix __IMPLIED_TYPE__ in proc arguments
  Content.Tests/DMProject/Tests/Builtins/__IMPLIED_TYPE__.dm
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
Labels: Compiler, size/XS

#2125 Don't instantiate multidimensional lists in proc params
  Content.Tests/DMProject/Tests/List/ListNullArg.dm
  Content.Tests/DMProject/Tests/List/ListNullArg1.dm
  Content.Tests/DMProject/Tests/Stdlib/Array/arg.dm
  DMCompiler/Compiler/DM/DMParser.cs
Labels: Compiler, size/XS

#2123 Implement `initial()` for `arglist()`
  Content.Tests/DMProject/Broken Tests/Procs/Arglist/initial.dm
  Content.Tests/DMProject/Tests/Procs/Arglist/initial.dm
  DMCompiler/DM/Expressions/Builtins.cs
Labels: Compiler, size/S

#2126 Emit location of original var def for duplicate var errors
  DMCompiler/DM/DMCodeTree.Vars.cs
Labels: Compiler, size/S

#2124 Compile error when outputting to const vars in `for()` loops
  Content.Tests/DMProject/Tests/Statements/For/reuse_decl_const.dm
  Content.Tests/DMProject/Tests/Statements/For/reuse_decl_const2.dm
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/Expressions/LValue.cs
Labels: Compiler, size/M

#2131 Fix off-by-one in peephole optimizer
  DMCompiler/Optimizer/PeepholeOptimizer.cs
Labels: Compiler, size/XS

#2134 Optimize the peephole optimizer
  DMCompiler/DM/DMProc.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/Optimizer/BytecodeOptimizer.cs
  DMCompiler/Optimizer/PeepholeOptimizer.cs
Labels: Compiler, size/M

#2116 Cope with extra tokens after proc statements
  Content.Tests/DMProject/Tests/Statements/extra_token_pragma.dm
  Content.Tests/DMProject/Tests/Statements/thing_after_statement.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/M

#2132 `IndexRefWithString` peephole opt
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, Runtime, size/M

#2067 Adds a system for printing stats to the disassembler
  DMDisassembler/Program.cs
Labels: Compiler, size/L

#2138 Fix more cases where inferredPath isn't passed
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
Labels: Compiler, size/M

#2140 Don't run lint on draft PRs
  .github/workflows/lint.yml
Labels: size/XS

#2133 Remove `Jump` after `Return`
  DMCompiler/Optimizer/PeepholeOptimizations.cs
Labels: Compiler, size/S

#2144 Fix off-by-one in regex replace and add test
  Content.Tests/DMProject/Tests/Regex/regex_find_replace.dm
  OpenDreamRuntime/Procs/Native/DreamProcNativeRegex.cs
Labels: Runtime, size/S

#2106 Implement the `screen_loc` edge anchors
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamShared/Dream/ScreenLocation.cs
Labels: Runtime, Client, size/M

#2113 Fix a bad proc param test
  Content.Tests/DMProject/Broken Tests/Expression/proccall_keyword_param.dm
  Content.Tests/DMProject/Tests/Expression/proccall_keyword_param.dm
Labels: size/S

#2147 Remove the submodule dependencies thing
  .github/workflows/compiler-test.yml
Labels: size/XS

#2137 Adds an opcode count stat to the disassembler
  DMDisassembler/DMProc.cs
  DMDisassembler/Program.cs
Labels: Compiler, size/M

#2135 Convert some ProcJson classes to structs
  DMCompiler/Json/DreamProcJson.cs
Labels: Compiler, size/M

#2128 Fix null derefernce when enumerating deleted objects
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Procs/DreamEnumerators.cs
Labels: Runtime, size/XS

#2150 Division unit test fixes
  Content.Tests/DMProject/Broken Tests/Tree/Const/Div_Zero/div_zero1.dm
  Content.Tests/DMProject/Broken Tests/Tree/Const/Div_Zero/div_zero3.dm
  Content.Tests/DMProject/Broken Tests/Tree/Const/Div_Zero/div_zero4.dm
  Content.Tests/DMProject/Broken Tests/Tree/Const/Div_Zero/div_zero6.dm
  Content.Tests/DMProject/Tests/Tree/Const/Div_Zero/div_zero2.dm
  Content.Tests/DMProject/Tests/Tree/Const/Div_Zero/div_zero5.dm
  Content.Tests/DMTests.cs
Labels: Compiler, size/S
