Repository OpenDreamProject/OpenDream, pull requests merged in 2024-03, with the labels that each got.

#1690 Fix a character skip after string line splices
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorLexer.cs
Labels: Compiler, size/XS

#1691 Add support for defining stringify overloads
  DMCompiler/Compiler/DM/DMParser.cs
Labels: Compiler, size/S

#1692 Define `/sound.pitch`
  DMCompiler/DMStandard/Types/Sound.dm
Labels: Compiler, size/XS

#1632 Implements `list.RemoveAll()`
  Content.Tests/DMProject/Tests/Stdlib/List/remove.dm
  Content.Tests/DMProject/Tests/Stdlib/List/removeall.dm
  DMCompiler/DMStandard/Types/List.dm
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeList.cs
Labels: Compiler, Runtime, size/M

#1693 Add a debug assert in `DMProcState.PopDrop()`
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Runtime, size/XS

#1554 Fully implement `/savefile` (except `ImportText()` because fuck it)
  Content.Tests/DMProject/Tests/Savefile/BasicReadAndWrite.dm
  Content.Tests/DMProject/Tests/Savefile/DatumSaving.dm
  Content.Tests/DMProject/Tests/Savefile/ExportText.dm
  Content.Tests/DMProject/Tests/Savefile/SaveAndLoad.dm
  Content.Tests/DMProject/Tests/Savefile/SequenceRead.dm
  Content.Tests/DMProject/Tests/Savefile/override_datum.dm
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DMStandard/Types/Atoms/Mob.dm
  DMCompiler/DMStandard/Types/Atoms/Movable.dm
  DMCompiler/DMStandard/Types/Atoms/_Atom.dm
  DMCompiler/DMStandard/Types/Datum.dm
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectSavefile.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeSavefile.cs
  OpenDreamRuntime/Resources/DreamResourceManager.cs
Labels: Compiler, Runtime, size/XXL

#1694 Implement MAP's `icon-size` property
  OpenDreamClient/Interface/Controls/ControlMap.cs
  OpenDreamClient/Interface/Descriptors/ControlDescriptors.cs
Labels: Client, size/M

#1701 Fix a use of `Math.Min` with `icon-size`
  OpenDreamClient/Interface/Controls/ControlMap.cs
Labels: Client, size/XS

#1700 `locate() in` plus test
  Content.Tests/DMProject/Tests/Builtins/LocateIn.dm
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Runtime, size/S

#1696 Parse proc return types
  Content.Tests/DMProject/Tests/Procs/return_type.dm
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/DMValueType.cs
Labels: Compiler, size/M

#1685 Fix clientside ouptut parsing of list2params
  OpenDreamClient/Interface/Controls/ControlBrowser.cs
Labels: Client, size/S

#1695 Update the compiler test workflow's repositories
  .github/workflows/compiler-test.yml
  DMCompiler/DMCompiler.cs
Labels: Compiler, size/S

#1703 Remove description from rightclick menu
  OpenDreamClient/Input/ContextMenu/VerbMenuPopup.xaml
  OpenDreamClient/Input/ContextMenu/VerbMenuPopup.xaml.cs
Labels: Client, size/S

#1712 `__IMPLIED_TYPE__` implementation
  Content.Tests/DMProject/Tests/Builtins/__IMPLIED_TYPE__.dm
  Content.Tests/DMProject/Tests/Dereference/implied_initial.dm
  Content.Tests/DMProject/Tests/Stdlib/istype_implied.dm
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Compiler, Runtime, size/M

#1713 Don't emit `PointlessParentCall` if lateral overrides exist
  Content.Tests/DMProject/Tests/Call/LateralPointlessOverride.dm
  Content.Tests/DMProject/Tests/Call/PointlessParentCall.dm
  DMCompiler/DM/Expressions/Procs.cs
Labels: Compiler, size/S

#1709 Converts empty strings to `null` in savefile serialization
  Content.Tests/DMProject/Tests/Savefile/BasicReadAndWrite.dm
  OpenDreamRuntime/Objects/Types/DreamObjectSavefile.cs
Labels: Runtime, size/S

#1716 `exception.name` can be a datum
  Content.Tests/DMProject/Tests/Statements/Control Flow/try_catch4.dm
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/Objects/Types/DreamObjectException.cs
Labels: Runtime, size/M

#1717 Implement `::` for procs
  Content.Tests/DMProject/Tests/Operators/scope_proc_name.dm
  Content.Tests/DMProject/Tests/Operators/scope_proc_pointless.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/S

#1718 Update the Discord invite in the README
  README.md
Labels: size/XS

#1682 Fix object.vars and add test
  Content.Tests/DMProject/Tests/List/vars_list.dm
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/S

#1719 Fix EmptyProc applying to code existing before it was enabled
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
Labels: Compiler, size/XS

#1698 Fix debug server hanging forever on a blocking `peek()`
  OpenDreamRuntime/Procs/DebugAdapter/DebugAdapterClient.cs
Labels: Runtime, size/S

#1720 Fix line counting with long strings
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorLexer.cs
Labels: Compiler, size/S

#1721 Fix child element resizing for panes
  OpenDreamClient/Interface/Controls/ControlChild.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/Controls/InterfaceControl.cs
Labels: Client, size/M

#1723 Add clearer instructions for building and testing to README
  README.md
Labels: size/XS

#1722 Improve rgb() argument handling, add HSV support
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Compiler/DM/AST/DMAST.Expression.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Builders/DMObjectBuilder.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/Expressions/Builtins.cs
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/DreamValue.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamShared/Dream/ColorHelpers.cs
Labels: Compiler, Runtime, Client, size/L

#1725 Include source file in exceptions
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Runtime, size/XS

#1727 Fix right-click menu entity lookup
  OpenDreamClient/Input/MouseInputSystem.cs
Labels: Client, size/XS

#1702 winset ternaries and embedded wingets
  OpenDreamClient/Interface/Controls/ControlInput.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/DMF/DMFLexer.cs
  OpenDreamClient/Interface/DMF/DMFParser.cs
  OpenDreamClient/Interface/DMF/DMFWinSet.cs
  OpenDreamClient/Interface/Descriptors/ControlDescriptors.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/InterfaceElement.cs
  Resources/OpenDream/DefaultInterface.dmf
Labels: Client, size/L

#1745 Revert "Converts empty strings to `null` in savefile serialization"
  Content.Tests/DMProject/Tests/Savefile/BasicReadAndWrite.dm
  OpenDreamRuntime/Objects/Types/DreamObjectSavefile.cs
Labels: Runtime, size/S

#1746 Avoid double-instantiating lists in IconAppearance
  OpenDreamShared/Dream/IconAppearance.cs
Labels: Runtime, Client, size/S
