Repository OpenDreamProject/OpenDream, pull requests merged in 2024-11, with the labels that each got.

#2060 Bitshift const fold peephole opt
  DMCompiler/DM/Builders/DMASTFolder.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
Labels: Compiler, size/M

#2074 Fix DMF property strings being null
  OpenDreamClient/Interface/DMF/IDMFProperty.cs
Labels: Client, size/XS

#2076 `RuntimeSearchOperator` pragma lint
  Content.Tests/DMProject/Tests/Dereference/RuntimeSearchOperatorLint.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/S

#2082 Rewrite DMObjectBuilder to be based off a code tree, fix global init order, other fixes
  Content.Tests/DMTests.cs
  DMCompiler/Bytecode/DMReference.cs
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DM/AST/DMAST.ObjectStatements.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/Compiler/DMM/DMMParser.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorLexer.cs
  DMCompiler/DM/Builders/DMCodeTreeBuilder.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Builders/DMObjectBuilder.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/DMCodeTree.Procs.cs
  DMCompiler/DM/DMCodeTree.Vars.cs
  DMCompiler/DM/DMCodeTree.cs
  DMCompiler/DM/DMExpression.cs
  DMCompiler/DM/DMObject.cs
  DMCompiler/DM/DMObjectTree.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/DMValueType.cs
  DMCompiler/DM/DMVariable.cs
  DMCompiler/DM/Expressions/Builtins.cs
  DMCompiler/DM/Expressions/Constant.cs
  DMCompiler/DM/Expressions/Dereference.cs
  DMCompiler/DM/Expressions/LValue.cs
  DMCompiler/DM/Expressions/Procs.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/DMStandard/Types/Client.dm
  DMCompiler/DMStandard/_Standard.dm
  DMCompiler/DreamPath.cs
  DMCompiler/Location.cs
  DMCompiler/Optimizer/AnnotatedByteCodeWriter.cs
  DMCompiler/Optimizer/AnnotatedBytecodeSerializer.cs
  DMCompiler/Program.cs
  DMDisassembler/Program.cs
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/DreamThread.cs
  OpenDreamRuntime/Objects/Types/DreamObjectWorld.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRegex.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, size/XXL

#2071 Bitwise const folding
  DMCompiler/DM/Builders/DMASTFolder.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
Labels: Compiler, size/M

#2087 Unit test for upward path search without LHS
  Content.Tests/DMProject/Tests/Tree/upward_search_path3.dm
Labels: size/XS

#2088 corrects DMStandard default vars for findlasttext(ex)
  DMCompiler/DMStandard/_Standard.dm
Labels: Compiler, size/XS

#2092 marks flick() as unimplemented in dmstandard
  DMCompiler/DMStandard/_Standard.dm
Labels: Compiler, size/XS

#2047 `AssignAndPushReferenceValue` & `AppendAndPushReferenceValue` peephole opts
  DMCompiler/Optimizer/AnnotatedBytecode.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Compiler, Runtime, size/M

#2090 Fix some sources of runtime errors
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamShared/Resources/DMIParser.cs
Labels: Runtime, Client, size/M

#2091 Fix static vars trying to reference local vars, and add pragma
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/S

#2075 Makes `DMCompiler` non-static. Yes, really.
  Content.IntegrationTests/Content.IntegrationTests.csproj
  Content.IntegrationTests/SetupCompileDM.cs
  Content.Tests/Content.Tests.csproj
  Content.Tests/DMTests.cs
  DMCompiler/Compiler/DM/DMLexer.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/Compiler/DM/DMParserHelper.cs
  DMCompiler/Compiler/DMM/DMMParser.cs
  DMCompiler/Compiler/DMPreprocessor/DMMacro.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorLexer.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorParser.cs
  DMCompiler/Compiler/Lexer.cs
  DMCompiler/Compiler/Parser.cs
  DMCompiler/DM/Builders/DMCodeTreeBuilder.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/DMCodeTree.Procs.cs
  DMCompiler/DM/DMCodeTree.Vars.cs
  DMCompiler/DM/DMCodeTree.cs
  DMCompiler/DM/DMExpression.cs
  DMCompiler/DM/DMObject.cs
  DMCompiler/DM/DMObjectTree.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/DMValueType.cs
  DMCompiler/DM/DMVariable.cs
  DMCompiler/DM/Expressions/Binary.cs
  DMCompiler/DM/Expressions/Builtins.cs
  DMCompiler/DM/Expressions/Constant.cs
  DMCompiler/DM/Expressions/Dereference.cs
  DMCompiler/DM/Expressions/LValue.cs
  DMCompiler/DM/Expressions/Procs.cs
  DMCompiler/DM/Expressions/Ternary.cs
  DMCompiler/DM/Expressions/Unary.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/DreamPath.cs
  DMCompiler/Optimizer/AnnotatedByteCodeWriter.cs
  DMCompiler/Optimizer/AnnotatedBytecode.cs
  DMCompiler/Optimizer/AnnotatedBytecodeSerializer.cs
  DMCompiler/Optimizer/BytecodeOptimizer.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  DMCompiler/Optimizer/PeepholeOptimizer.cs
  DMCompiler/Program.cs
Labels: Compiler, size/XXL

#2073 Use a `switch` in `ProcStatement()`
  DMCompiler/Compiler/DM/DMParser.cs
Labels: Compiler, size/XL

#2097 Add `opendream_noconstfold`, add it to some world vars
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/DMValueType.cs
  DMCompiler/DM/DMVariable.cs
  DMCompiler/DM/Expressions/Dereference.cs
  DMCompiler/DM/Expressions/LValue.cs
  DMCompiler/DMStandard/Types/World.dm
Labels: Compiler, size/S

#2098 Make const vars no longer static
  DMCompiler/Compiler/DM/AST/DMAST.ObjectStatements.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/DMCodeTree.Vars.cs
Labels: Compiler, size/S

#2096 Unit test some `world` vars against bad const folding, fix `world.system_type`
  Content.Tests/DMProject/Tests/Builtins/world_opendream_topic_port.dm
  Content.Tests/DMProject/Tests/Builtins/world_system_type.dm
  DMCompiler/DMStandard/Defines.dm
  OpenDreamRuntime/Objects/Types/DreamObjectWorld.cs
Labels: Compiler, Runtime, size/S

#2061 String concat const folding
  DMCompiler/DM/Builders/DMASTFolder.cs
  DMCompiler/Optimizer/AnnotatedBytecode.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
Labels: Compiler, size/M

#2093 Fix locations reporting
  DMCompiler/Compiler/DM/AST/DMAST.Expression.cs
  DMCompiler/Compiler/DM/AST/DMAST.cs
  DMCompiler/Compiler/DM/DMLexer.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorLexer.cs
  DMCompiler/Compiler/Lexer.cs
Labels: Compiler, size/L

#2100 Fix disassembler CI never failing on errors
  .github/workflows/compiler-test.yml
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Runtime, size/XS

#2099 Remove a turf from an area's contents when it's added to another
  OpenDreamRuntime/DreamMapManager.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectArea.cs
  OpenDreamRuntime/Objects/Types/DreamObjectTurf.cs
Labels: Runtime, size/L

#2102 Fix a null reference in `mob.ckey` assignment
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamRuntime/DreamManager.Connections.cs
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/Types/DreamObjectClient.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMob.cs
Labels: Runtime, size/S

#2103 Fix a missed `Session.Name` replacement
  OpenDreamRuntime/DreamConnection.cs
Labels: Runtime, size/XS

#2104 Implement `atom.appearance.overlays`
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
Labels: Runtime, size/M

#2114 Fix recreating deleted savefiles
  OpenDreamRuntime/Objects/Types/DreamObjectSavefile.cs
Labels: Runtime, size/XS
