Repository OpenDreamProject/OpenDream, pull requests merged in 2024-05, with the labels that each got.

#1676 `animate()`
  DMCompiler/DMStandard/Defines.dm
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/DreamThread.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamRuntime/Procs/NativeProc.cs
  OpenDreamRuntime/Rendering/ServerAppearanceSystem.cs
  OpenDreamShared/Dream/ColorMatrix.cs
  OpenDreamShared/Dream/IconAppearance.cs
  OpenDreamShared/Rendering/SharedAppearanceSystem.cs
  TestGame/map_z1.dmm
  TestGame/renderer_tests.dm
Labels: Compiler, Runtime, Client, size/XL

#1767 Stub `client.RenderIcon()`
  DMCompiler/DMStandard/Types/Client.dm
Labels: Compiler, size/XS

#1782 Update README.md to reflect better expectations of Linux support
  README.md
Labels: size/XS

#1783 Throws a warning for block-scoped namespaces
  .editorconfig
  OpenDream.sln.DotSettings
Labels: size/XS

#1781 Add an "RT ViewVariables" button to the right-click menu
  OpenDreamClient/Input/ContextMenu/ContextMenuItem.xaml.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuPopup.xaml.cs
  OpenDreamClient/Input/ContextMenu/VerbMenuPopup.xaml.cs
Labels: Client, size/M

#1784 Handle `null` in `hascall()`
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/XS

#1792 Attempting to read the "hidden" field on a proc will return null and emit a warning
  OpenDreamRuntime/DreamThread.cs
Labels: Runtime, size/XS

#1795 rgb2num accepts null
  Content.Tests/DMProject/Tests/Builtins/rgb2num.dm
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/XS

#1771 Fix transforms not rendering
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/M

#1799 Ignore attempts to set `mob.client = null`
  OpenDreamRuntime/Objects/Types/DreamObjectMob.cs
Labels: Runtime, size/XS

#1800 Return true for any atom type in `isloc()`
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/S

#1804 Animate Defines Cleanup
  DMCompiler/DMStandard/Defines.dm
Labels: Compiler, size/S

#1797 lint using resharper
  .github/workflows/lint.yml
Labels: Client, size/S

#1805 removes obsolete MapManager methods
  OpenDreamRuntime/DreamMapManager.cs
Labels: Runtime, size/S

#1806 Fix inferred type expressions
  Content.Tests/DMProject/Tests/Expression/InferredType.dm
  DMCompiler/DM/Expressions/Binary.cs
  DMCompiler/DM/Expressions/Builtins.cs
Labels: Compiler, size/S

#1807 Adds error message to missing file arg
  DMCompiler/DMCompiler.cs
Labels: Compiler, size/XS

#1811 Can't duplicate in `vis_contents`
  OpenDreamRuntime/Objects/Types/DreamList.cs
Labels: Runtime, size/XS

#1796 Deduplicate github action logs
  .github/workflows/build-test.yml
  .github/workflows/compiler-test.yml
Labels: size/XS

#1812 Add support for `/image.filters`
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectImage.cs
Labels: Runtime, size/M

#1809 Fix `Move()` from `null`
  DMCompiler/DMStandard/Types/Atoms/Movable.dm
Labels: Compiler, size/S

#1816 Handle adding/setting null on a filters list
  OpenDreamRuntime/Objects/Types/DreamList.cs
Labels: Runtime, size/S
