Repository OpenDreamProject/OpenDream, pull requests merged in 2024-02, with the labels that each got.

#1666 Conditional labelling
  .github/workflows/pr-labeler.yml
Labels: size/XS

#1669 Fix automatic `Compiler` label
  .github/boring-cyborg.yml
Labels: size/XS

#1668 Start work on `set src` and atom-as-a-first-arg in verbs
  DMCompiler/Compiler/DM/DMAST.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/Expressions/Builtins.cs
  DMCompiler/DM/Expressions/Constant.cs
  DMCompiler/DM/VerbSrc.cs
  DMCompiler/DM/Visitors/DMExpressionBuilder.cs
  DMCompiler/DM/Visitors/DMProcBuilder.cs
  DMCompiler/Json/DreamProcJson.cs
  OpenDream.sln.DotSettings
  OpenDreamClient/ClientVerbSystem.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuItem.xaml.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuPopup.xaml.cs
  OpenDreamClient/Input/ContextMenu/VerbMenuPopup.xaml.cs
  OpenDreamClient/Interface/Controls/ControlChild.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamRuntime/DreamThread.cs
  OpenDreamRuntime/Objects/DreamObjectTree.cs
  OpenDreamRuntime/Procs/AsyncNativeProc.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/DreamProcArguments.cs
  OpenDreamRuntime/Procs/NativeProc.cs
  OpenDreamRuntime/ServerVerbSystem.cs
  OpenDreamShared/Dream/ClientObjectReference.cs
  OpenDreamShared/Dream/DreamValueType.cs
  OpenDreamShared/Dream/VerbSystem.cs
Labels: Compiler, Runtime, Client, size/XL

#1656 Parse multiple properties in a single `winget()`
  OpenDreamClient/Interface/Controls/ControlChild.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/Controls/InterfaceControl.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
Labels: Client, size/M

#1634 Update an old ForcedError
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/Visitors/DMProcBuilder.cs
  OpenDream.sln.DotSettings
Labels: Compiler, size/S

#1623 Fix compatibility mode
  OpenDreamClient/EntryPoint.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/DummyDreamInterfaceManager.cs
  Resources/Shaders/alpha.swsl
  Resources/Shaders/blendoverlay.swsl
  Resources/Shaders/blur.swsl
  Resources/Shaders/displacement.swsl
  Resources/Shaders/drop_shadow.swsl
Labels: Client, size/M

#1671 Fix an error in the client's verb system
  OpenDreamClient/ClientVerbSystem.cs
Labels: Client, size/XS

#1670 Add "null statements" to the compiler
  Content.Tests/DMProject/Tests/Statements/EmptyBlock.dm
  Content.Tests/DMProject/Tests/Statements/EmptyBlockSuppressed.dm
  DMCompiler/Compiler/DM/DMAST.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Visitors/DMASTSimplifier.cs
  DMCompiler/DM/Visitors/DMProcBuilder.cs
Labels: Compiler, size/M

#1644 Organize AST definitions
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Compiler/DM/AST/DMAST.Expression.cs
  DMCompiler/Compiler/DM/AST/DMAST.ExpressionBinary.cs
  DMCompiler/Compiler/DM/AST/DMAST.ExpressionConstant.cs
  DMCompiler/Compiler/DM/AST/DMAST.ExpressionUnary.cs
  DMCompiler/Compiler/DM/AST/DMAST.ObjectStatements.cs
  DMCompiler/Compiler/DM/AST/DMAST.ProcStatements.cs
  DMCompiler/Compiler/DM/AST/DMAST.cs
  DMCompiler/Compiler/DM/DMAST.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/Compiler/DM/DMParserHelper.cs
  DMCompiler/Compiler/DMM/DMMParser.cs
  DMCompiler/Compiler/DMPreprocessor/DMMacro.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/DM/Builders/DMASTFolder.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Builders/DMObjectBuilder.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/DMExpression.cs
  DMCompiler/DM/DMObjectTree.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/Expressions/Builtins.cs
  DMCompiler/DM/Expressions/Procs.cs
  DMCompiler/DM/Visitors/DMASTSimplifier.cs
  DMCompiler/DMCompiler.cs
Labels: Compiler, size/XXL

#1672 Set the default secondary icon in Discord Rich Presence
  OpenDreamRuntime/EntryPoint.cs
Labels: Runtime, size/XS

#1673 Implement `set src = usr.contents`
  DMCompiler/DM/Builders/DMProcBuilder.cs
  OpenDreamClient/ClientVerbSystem.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMovable.cs
  OpenDreamRuntime/ServerVerbSystem.cs
Labels: Compiler, Runtime, Client, size/S

#1646 Fix min/max also test
  Content.Tests/DMProject/Tests/Math/minmax.dm
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/M

#1675 Assume parameter types based on type hints
  DMCompiler/Compiler/DM/AST/DMAST.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/DMObject.cs
  DMCompiler/DM/DMProc.cs
  OpenDreamClient/ClientVerbSystem.cs
  OpenDreamClient/Input/ContextMenu/VerbMenuPopup.xaml.cs
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/ServerVerbSystem.cs
  OpenDreamShared/Dream/VerbSystem.cs
Labels: Compiler, Runtime, Client, size/L

#1659 Fix loading defaults from image object def
  Content.Tests/DMProject/Tests/Image/subclass.dm
  DMCompiler/DMStandard/Types/Image.dm
  OpenDreamClient/Rendering/DreamPlane.cs
  OpenDreamRuntime/Objects/Types/DreamObjectImage.cs
Labels: Compiler, Runtime, Client, size/S

#1648 Fix ascii2text encoding
  Content.Tests/DMProject/Tests/Builtins/text2ascii2text.dm
  Content.Tests/DMProject/Tests/Builtins/text2ascii_char.dm
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/M

#1677 Fix /image objects sharing appearances
  OpenDreamRuntime/Objects/Types/DreamObjectImage.cs
Labels: Runtime, size/XS

#1678 Some interface fixes
  OpenDreamClient/Interface/Controls/ControlBrowser.cs
  OpenDreamClient/Interface/Controls/ControlChild.cs
  OpenDreamClient/Interface/Controls/ControlInfo.cs
  OpenDreamClient/Interface/Controls/ControlMap.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
Labels: Client, size/S

#1679 Add shift to debug console keybinds
  Resources/keybinds.yml
Labels: size/XS

#1680 Add support for the TAB control
  OpenDreamClient/Interface/Controls/ControlBrowser.cs
  OpenDreamClient/Interface/Controls/ControlTab.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/Descriptors/ControlDescriptors.cs
Labels: Client, size/M

#1550 Implement `::` operator
  Content.Tests/DMProject/Tests/Operators/scope.dm
  Content.Tests/DMProject/Tests/Special Procs/initial/initial_path.dm
  DMCompiler/Compiler/DM/AST/DMAST.Expression.cs
  DMCompiler/Compiler/DM/DMLexer.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorLexer.cs
  DMCompiler/Compiler/Token.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Builders/DMObjectBuilder.cs
  DMCompiler/DM/DMExpression.cs
  DMCompiler/DM/DMObject.cs
  DMCompiler/DM/DMVariable.cs
  DMCompiler/DM/Expressions/Builtins.cs
  DMCompiler/DM/Expressions/Constant.cs
  DMCompiler/DM/Expressions/Dereference.cs
  DMCompiler/DM/Expressions/LValue.cs
Labels: Compiler, size/XXL

#1687 implements `world.maxx` and `world.maxy`
  Content.Tests/DummyDreamMapManager.cs
  OpenDreamRuntime/DreamMapManager.cs
  OpenDreamRuntime/Objects/Types/DreamObjectWorld.cs
Labels: Runtime, size/M

#1689 Fix incorrect line counter when lexing line-spliced strings
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorLexer.cs
Labels: Compiler, size/XS

#1684 Implement `JSON_PRETTY_PRINT`
  Content.Tests/DMProject/Tests/Builtins/JsonEncode.dm
  DMCompiler/DMStandard/Defines.dm
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Compiler, Runtime, size/S
