Repository OpenDreamProject/OpenDream, pull requests merged in 2024-09, with the labels that each got.

#1946 Fix modifiers as keybinds, add ".winset :type" support
  OpenDreamClient/Interface/DMF/DMFLexer.cs
  OpenDreamClient/Interface/DMF/DMFParser.cs
  OpenDreamClient/Interface/DMF/DMFWinSet.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/InterfaceMacro.cs
Labels: Client, size/M

#1953 Improve the or operator's constant folding
  DMCompiler/DM/Expressions/Binary.cs
Labels: Compiler, size/S

#1801 Fix `loop` behaviour in `animate()`
  OpenDreamClient/Rendering/DreamIcon.cs
Labels: Client, size/M

#1947 Fix compiler warnings
  DMCompiler/Compiler/DM/AST/DMAST.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/Optimizer/AnnotatedBytecode.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  DMCompiler/Optimizer/PeepholeOptimizer.cs
Labels: Compiler, size/L

#1957 Stub `noise_hash()`
  DMCompiler/DMStandard/_Standard.dm
Labels: Compiler, size/XS

#1955 Fix missing `EnsureCache()` calls
  OpenDreamClient/EntryPoint.cs
  OpenDreamClient/Resources/DreamResourceManager.cs
Labels: Client, size/S

#1952 Implement `pushbox.is-checked`
  OpenDreamClient/Interface/Controls/ControlButton.cs
  Resources/Textures/Interface/ButtonPressed.png
Labels: Client, size/S

#1888 `operator[]`
  Content.Tests/DMProject/Tests/Operators/Overloads/complex_numbers.dm
  DMCompiler/Compiler/DM/DMParser.cs
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectSavefile.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Compiler, Runtime, size/M

#1951 Handle invisibility & turfs in the context menu
  OpenDreamClient/Input/ContextMenu/ContextMenuItem.xaml.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuPopup.xaml.cs
  OpenDreamClient/Input/MouseInputSystem.cs
Labels: Client, size/L

#1959 Make the `in` operator greedy
  Content.Tests/DMProject/Tests/Operators/In_OrderOfOperations.dm
  Content.Tests/DMProject/Tests/Operators/In_OrderOfOperationsWarning.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/M

#1845 Split up DreamProcOpcode.cs, add some global usings
  DMCompiler/Bytecode/DMReference.cs
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Bytecode/OpcodeMetadata.cs
  DMCompiler/Bytecode/OpcodeVerifier.cs
  DMCompiler/Bytecode/StringFormatEncoder.cs
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DM/AST/DMAST.Expression.cs
  DMCompiler/Compiler/DM/AST/DMAST.ExpressionBinary.cs
  DMCompiler/Compiler/DM/AST/DMAST.ExpressionUnary.cs
  DMCompiler/Compiler/DM/AST/DMAST.cs
  DMCompiler/Compiler/DM/DMLexer.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/Compiler/DM/DMParserHelper.cs
  DMCompiler/Compiler/DM/DMPath.cs
  DMCompiler/Compiler/DMM/DMMParser.cs
  DMCompiler/Compiler/DMPreprocessor/DMMacro.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorLexer.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorParser.cs
  DMCompiler/Compiler/Lexer.cs
  DMCompiler/Compiler/Parser.cs
  DMCompiler/Compiler/Token.cs
  DMCompiler/DM/Builders/DMASTFolder.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/Builders/DMObjectBuilder.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/DMExpression.cs
  DMCompiler/DM/DMObject.cs
  DMCompiler/DM/DMObjectTree.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/DMValueType.cs
  DMCompiler/DM/Expressions/Binary.cs
  DMCompiler/DM/Expressions/Builtins.cs
  DMCompiler/DM/Expressions/Constant.cs
  DMCompiler/DM/Expressions/Dereference.cs
  DMCompiler/DM/Expressions/Procs.cs
  DMCompiler/DM/ProcAttributes.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/DreamPath.cs
  DMCompiler/GlobalUsings.cs
  DMCompiler/Json/DreamCompiledJson.cs
  DMCompiler/Json/DreamMapJson.cs
  DMCompiler/Json/DreamObjectJson.cs
  DMCompiler/Json/DreamProcJson.cs
  DMCompiler/Optimizer/AnnotatedByteCodeWriter.cs
  DMCompiler/Optimizer/AnnotatedBytecode.cs
  DMCompiler/Optimizer/AnnotatedBytecodeSerializer.cs
  DMCompiler/Optimizer/BytecodeOptimizer.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  DMCompiler/Optimizer/PeepholeOptimizer.cs
  DMCompiler/Program.cs
  DMCompiler/SharedOperations.cs
Labels: Compiler, size/XL

#1922 Convert dreamprocnativeroot.cs to file-scoped namespace
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/XXL

#1961 Add `name` to `IconAppearance`, fix placeholder turf names
  OpenDreamClient/Input/ContextMenu/ContextMenuPopup.xaml.cs
  OpenDreamClient/Interface/DebugWindows/IconDebugWindow.xaml.cs
  OpenDreamRuntime/AtomManager.cs
  OpenDreamShared/Dream/IconAppearance.cs
  OpenDreamShared/Network/Messages/MsgAllAppearances.cs
Labels: Runtime, Client, size/M

#1963 Nuke the TGS CI test
  .github/workflows/test-tgs.yml
Labels: size/M

#1966 Pre-allocate the `ProcArgumentJson` list for procs
  DMCompiler/DM/DMProc.cs
Labels: Compiler, size/XS

#1968 Implement missing `GetValues()` overrides
  OpenDreamRuntime/Objects/Types/DreamList.cs
Labels: Runtime, size/S

#1902 Implement `pixel_w` and `pixel_z`
  OpenDreamClient/Interface/DebugWindows/IconDebugWindow.xaml.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamRuntime/AtomManager.cs
  OpenDreamShared/Dream/IconAppearance.cs
  OpenDreamShared/Network/Messages/MsgAllAppearances.cs
Labels: Runtime, Client, size/M

#1979 Change expected blank lines around single-line types to 0
  OpenDream.sln.DotSettings
Labels: size/XS

#1980 Reduce `DuplicateVariable` to a warning by default
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/XS

#1983 Delete a redundant test
  Content.Tests/DMProject/Broken Tests/Operators/nest_in.dm
Labels: size/XS

#1975 correctly mark `/database/query/Reset()` as unimplemented
  DMCompiler/DMStandard/Types/Database.dm
Labels: Compiler, size/XS

#1976 fix database tests not cleaning up properly
  Content.Tests/DMProject/Tests/Database/error.dm
  Content.Tests/DMProject/Tests/Database/no_entries.dm
  Content.Tests/DMProject/Tests/Database/open_and_open.dm
  Content.Tests/DMProject/Tests/Database/read.dm
  Content.Tests/DMProject/Tests/Database/too_many_or_few_params.dm
  OpenDreamRuntime/Objects/Types/DreamObjectDatabase.cs
  OpenDreamRuntime/Objects/Types/DreamObjectDatabaseQuery.cs
Labels: Runtime, size/S

#1986 Fix `findtext()` with /regex
  Content.Tests/DMProject/Tests/Regex/regex_start.dm
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/XS

#1992 Fix lexing of long raw string values
  Content.Tests/DMProject/Tests/Text/rawstr_parsing2.dm
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessorLexer.cs
Labels: Compiler, size/M

#1990 Fix issues found via Nebula testing
  DMCompiler/DM/DMProc.cs
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Compiler, Runtime, size/XS

#1991 Fix initial() with mismatched variable and value types
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Runtime, size/XS

#1973 Remove all `OpenDreamShared` and `Content.Tests` warnings
  Content.IntegrationTests/Content.IntegrationTests.csproj
  Content.Tests/Content.Tests.csproj
  Content.Tests/DummyDreamMapManager.cs
  DMDisassembler/DMDisassembler.csproj
  OpenDreamPackageTool/OpenDreamPackageTool.csproj
  OpenDreamPackaging/OpenDreamPackaging.csproj
  OpenDreamRuntime/Objects/DreamIcon.cs
  OpenDreamRuntime/Procs/AsyncNativeProc.cs
  OpenDreamServer/OpenDreamServer.csproj
  OpenDreamShared/OpenDreamShared.csproj
  OpenDreamShared/Resources/DMIParser.cs
Labels: Compiler, Runtime, Client, size/M

#2001 Surround CEF RequestHandler with a try/catch
  OpenDreamClient/Interface/Controls/ControlBrowser.cs
Labels: Client, size/M

#1995 Remove `DreamPath.IsDescendantOf()`
  DMCompiler/Compiler/DMM/DMMParser.cs
  DMCompiler/DM/DMObject.cs
  DMCompiler/DreamPath.cs
Labels: Compiler, size/M

#1985 Fixes animations being desynced
  OpenDreamClient/Rendering/DreamIcon.cs
Labels: Client, size/M

#1993 Leave an image's `InheritsDirection` on when the provided `dir` is invalid
  OpenDreamRuntime/Objects/Types/DreamObjectImage.cs
Labels: Runtime, size/XS

#1919 Implements `hearers()` and `ohearers()`
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeHelpers.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamShared/Dream/ViewAlgorithm.cs
  TestGame/code.dm
Labels: Compiler, Runtime, Client, size/L
