Repository OpenDreamProject/OpenDream, pull requests merged in 2025-05, with the labels that each got.

#2234 Implement some Byondapi
  Content.Tests/Content.Tests.csproj
  Content.Tests/DMProject/BrokenTests/ByondApi/AddGetStrId.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/Block.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/CallGlobalProc.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/CallGlobalProcByStrId.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/CallProc.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/CallProcByStrId.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/Clear.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/CreateList.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/Equals.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/GetStrId.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/IsTrue.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/Length.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/LocateXYZ.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/New.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/NewArglist.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/ReadList.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/ReadListAssoc.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/ReadListIndex.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/ReadVar.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/ReadVarByStrId.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/SetRef.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/TestRef.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/ToString.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/WriteList.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/WriteListIndex.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/WriteVar.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/WriteVarByStrId.dm
  Content.Tests/DMProject/BrokenTests/ByondApi/XYZ.dm
  Content.Tests/DMTests.cs
  DMCompiler/DM/DMCodeTree.Procs.cs
  Directory.Packages.props
  OpenDreamRuntime/ByondApi/ByondApi.Call.cs
  OpenDreamRuntime/ByondApi/ByondApi.Functions.cs
  OpenDreamRuntime/ByondApi/ByondApi.Trampoline.cs
  OpenDreamRuntime/ByondApi/ByondApi.cs
  OpenDreamRuntime/ByondApi/ByondApiTypes.cs
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/OpenDreamRuntime.csproj
  OpenDreamRuntime/Procs/DMOpcodeHandlers.CallExt.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DllHelper.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Compiler, Runtime, Client, size/XXL

#2267 Reintstate the TGS test with a retry handler this time
  .github/workflows/rerun-flaky-tests.yml
  .github/workflows/test-tgs.yml
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/OpenDreamRuntime.csproj
  OpenDreamRuntime/Procs/DMOpcodeHandlers.CallExt.cs
Labels: Runtime, size/L

#2268 Fixes DMF text-color not applying to statpanel / output
  OpenDreamClient/Interface/Controls/ControlInfo.cs
  OpenDreamClient/Interface/Controls/ControlOutput.cs
Labels: Client, size/S

#2266 VS2022 has been making this edit for ages so there must be some reason
  OpenDream.sln
Labels: size/M

#2275 Implement `<<` output on floats
  Content.Tests/DMProject/Tests/Operators/output_float.dm
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Runtime, size/S

#2271 Make set statements independent of compile order
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/DMProc.cs
Labels: Compiler, size/L

#2274 adds Daedalus to the compile tests
  .github/workflows/compiler-test.yml
Labels: size/XS

#2265 Implement `ref(number)`
  OpenDreamRuntime/DreamManager.cs
Labels: Runtime, size/S

#2277 Fix an always-tripped debug assert
  DMCompiler/DMCompiler.cs
  OpenDreamRuntime/Resources/DreamResourceManager.cs
Labels: Compiler, Runtime, size/S

#2276 Allow float DMF values
  OpenDreamClient/Interface/DMF/DMFLexer.cs
Labels: Client, size/XS

#2264 Optimize `RemoveUnreferencedLabels()`
  DMCompiler/Optimizer/BytecodeOptimizer.cs
Labels: Compiler, size/S

#2278 Properly assign return type for `astype`
  DMCompiler/DM/Expressions/Builtins.cs
Labels: Compiler, size/XS

#2280 Overlays/Underlays inherit mouse_opacity
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/XS

#2279 Implements some of the vector procs and operators & correction initial values
  Content.Tests/DMProject/Tests/Vector/Dot.dm
  Content.Tests/DMProject/Tests/Vector/Interpolate.dm
  Content.Tests/DMProject/Tests/Vector/Normalize.dm
  Content.Tests/DMProject/Tests/Vector/VectorAdd.dm
  Content.Tests/DMProject/Tests/Vector/VectorDivide.dm
  Content.Tests/DMProject/Tests/Vector/VectorMultiply.dm
  Content.Tests/DMProject/Tests/Vector/VectorSubtract.dm
  DMCompiler/DMStandard/Types/Vector.dm
  OpenDreamRuntime/Objects/Types/DreamObjectVector.cs
Labels: Compiler, Runtime, size/L

#2281 Winget DPI
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  TestGame/code.dm
Labels: Client, size/XS

#2284 Include the byondapi DLL in releases
  OpenDreamPackageTool/ServerPackaging.cs
  OpenDreamRuntime/ByondApi/ByondApi.Trampoline.cs
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/OpenDreamRuntime.csproj
  OpenDreamRuntime/Procs/DMOpcodeHandlers.CallExt.cs
Labels: Runtime, size/M

#2285 Fix the location of the byondapi library in linux releases
  OpenDreamPackageTool/ServerPackaging.cs
Labels: size/S

#2287 Make macros in showmacros tables scrollable
  OpenDreamClient/Interface/DebugWindows/MacrosWindow.cs
Labels: Client, size/S

#2286 Duplicate `#include` fix
  Content.Tests/DMProject/Tests/Preprocessor/Include/duplicate_include.dm
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
Labels: Compiler, size/S

#2293 Make `no_paren.dm` pass
  Content.Tests/DMProject/BrokenTests/Statements/ControlFlow/sleep/no_paren.dm
  Content.Tests/DMProject/Tests/Statements/ControlFlow/sleep/no_paren.dm
Labels: size/S

#2290 Add a compiler arg to disable optimizations
  .github/workflows/build-test.yml
  Content.Tests/DMTests.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/Optimizer/BytecodeOptimizer.cs
  DMCompiler/Program.cs
Labels: Compiler, size/S

#2127 Tracy
  Directory.Packages.props
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/DreamThread.cs
  OpenDreamRuntime/DreamValue.cs
  OpenDreamRuntime/EntryPoint.cs
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/DreamObjectTree.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/OpenDreamRuntime.csproj
  OpenDreamRuntime/Procs/AsyncNativeProc.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/InitDreamObject.cs
  OpenDreamRuntime/Profiler.cs
  OpenDreamRuntime/Resources/DreamResource.cs
  OpenDreamShared/OpenDreamCVars.cs
Labels: Runtime, Client, size/XL
