Repository OpenDreamProject/OpenDream, pull requests merged in 2025-02, with the labels that each got.

#2197 Fix a crash with invalid `FILE_DIR` defines
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/S

#2195 add /world.Tick() to unimplmented
  DMCompiler/DMStandard/Types/World.dm
Labels: Compiler, size/XS

#2199 Mark pixel_w and pixel_z as implemented on /atom and /image
  DMCompiler/DMStandard/Types/Atoms/_Atom.dm
  DMCompiler/DMStandard/Types/Image.dm
Labels: Compiler, size/XS

#2196 mark `issaved()` as implemented
  DMCompiler/DMStandard/UnsortedAdditions.dm
Labels: Compiler, size/XS

#2205 Fix the middle mouse keybind
  Resources/keybinds.yml
Labels: size/XS

#2206 Disallow var defines on /world and /list
  DMCompiler/DM/DMCodeTree.Vars.cs
Labels: Compiler, size/S

#2204 Implement `walk_to()`
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamRuntime/WalkManager.cs
Labels: Compiler, Runtime, size/M

#2202 Implement `/sound.offset`
  DMCompiler/DMStandard/Types/Sound.dm
  OpenDreamClient/Audio/DreamSoundEngine.cs
  OpenDreamClient/Audio/IDreamSoundEngine.cs
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamShared/Network/Messages/MsgSound.cs
Labels: Compiler, Runtime, Client, size/S

#2214 Stub 516 `/sound` vars
  DMCompiler/DMStandard/Types/Sound.dm
Labels: Compiler, size/XS

#2207 Implement `sign()`
  .github/workflows/compiler-test.yml
  Content.Tests/DMProject/Tests/Builtins/sign.dm
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Compiler, Runtime, size/M

#2217 Adds html parser check for void elements
  OpenDreamClient/Interface/Html/HtmlParser.cs
Labels: Client, size/M

#2211 Implement `astype()`
  Content.Tests/DMProject/Tests/Builtins/astype.dm
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Compiler/DM/AST/DMAST.ExpressionBinary.cs
  DMCompiler/Compiler/DM/AST/DMAST.ExpressionUnary.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/Expressions/Builtins.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
Labels: Compiler, Runtime, size/L

#2201 Implement `list.Splice()`
  Content.Tests/DMProject/Tests/List/ListSplice.dm
  DMCompiler/DMStandard/Types/List.dm
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeList.cs
Labels: Compiler, Runtime, size/M

#2224 Fix autogenerated component state stuff
  OpenDreamShared/OpenDreamShared.csproj
Labels: Runtime, Client, size/XS

#2221 Initial vector implementation
  DMCompiler/DM/DMObjectTree.cs
  DMCompiler/DMStandard/Types/Vector.dm
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/Objects/DreamObjectTree.cs
  OpenDreamRuntime/Objects/Types/DreamObjectVector.cs
  OpenDreamRuntime/Procs/DreamProcArguments.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Compiler, Runtime, size/L

#2215 Stub 516 `/atom` vars
  DMCompiler/DMStandard/Types/Atoms/_Atom.dm
Labels: Compiler, size/XS

#2192 Implement focus and macro selection for windows
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/DebugWindows/MacrosWindow.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/InterfaceMacro.cs
Labels: Client, size/M

#2222 Updates atom alpha when atom color is set
  OpenDreamShared/Dream/MutableAppearance.cs
Labels: Runtime, Client, size/XS

#2227 Adds check for local variable in scope operator check
  Content.Tests/DMProject/Tests/Operators/scope.dm
  Content.Tests/DMProject/Tests/Operators/scope_parent_type_fails.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DMStandard/DefaultPragmaConfig.dm
Labels: Compiler, size/M
