Repository OpenDreamProject/OpenDream, pull requests merged in 2025-07, with the labels that each got.

#2307 Local vars override built-in vars
  .github/workflows/compiler-test.yml
  Content.Tests/DMProject/Tests/Arg/AmbiguousArgsVar.dm
  Content.Tests/DMProject/Tests/Arg/SoftReservedKeyword1.dm
  Content.Tests/DMProject/Tests/Arg/SoftReservedKeyword2.dm
  Content.Tests/DMProject/Tests/Arg/SoftReservedKeyword3.dm
  Content.Tests/DMProject/Tests/Savefile/DatumSaving.dm
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
Labels: Compiler, size/L

#2341 Typo
  DMCompiler/Compiler/DM/DMParser.cs
Labels: Compiler, size/XS

#2343 Implement `winset(x, y, list())`
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamRuntime/Objects/Types/DreamObjectWorld.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/L

#2344 Re-add example config
  OpenDreamServer/OpenDreamServer.csproj
  OpenDreamServer/server_config.toml
Labels: Runtime, size/S

#2347 Implements optional exceptions configured by pragma
  Content.Tests/DMProject/Tests/List/ListNegativeSizePragma.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/Json/DreamCompiledJson.cs
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
Labels: Compiler, Runtime, size/M

#2346 Fix various `/regex` vars not being updated when used in `findtext()`
  OpenDreamRuntime/Objects/Types/DreamObjectRegex.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRegex.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/M
