Repository OpenDreamProject/OpenDream, pull requests merged in 2025-08, with the labels that each got.

#2338 Implement `"\icon[atom]"`
  DMCompiler/Bytecode/StringFormatEncoder.cs
  DMCompiler/Compiler/DM/DMParserHelper.cs
  DMCompiler/DM/DMProc.cs
  OpenDreamClient/Interface/Controls/ControlOutput.cs
  OpenDreamClient/Interface/Controls/UI/AppearanceControl.cs
  OpenDreamClient/Interface/Controls/UI/OutputControl.cs
  OpenDreamClient/Interface/Html/HtmlParser.cs
  OpenDreamClient/Interface/Html/Tags/TagIcon.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamShared/Dream/StringFormatting.cs
Labels: Compiler, Runtime, Client, size/L

#2356 Remove explicit `--version` on goonstation test
  .github/workflows/compiler-test.yml
Labels: size/XS

#2357 Fix disassembling `CreateStrictAssociativeList`
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Runtime, size/XS

#2355 Lookahead in front of extra tokens to determine consumption
  Content.Tests/DMProject/Tests/Statements/extra_token_lookahead.dm
  DMCompiler/Compiler/DM/DMParser.cs
Labels: Compiler, size/M

#2362 Make AppearanceControl work in worldspace
  OpenDreamClient/Interface/Controls/UI/AppearanceControl.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  TestGame/code.dm
Labels: Client, size/S

#2364 Stub some pixloc things
  DMCompiler/DMStandard/Types/Client.dm
  DMCompiler/DMStandard/Types/PixLoc.dm
  DMCompiler/DMStandard/UnsortedAdditions.dm
  DMCompiler/DMStandard/_Standard.dm
Labels: Compiler, size/S

#2363 Fix some issues with key-value loops
  DMCompiler/Bytecode/DMReference.cs
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/DMProc.cs
  OpenDreamRuntime/DreamReference.cs
  OpenDreamRuntime/Objects/Types/DreamAssocList.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/IDreamList.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/DreamEnumerators.cs
Labels: Compiler, Runtime, size/L

#2368 Fix `for(var/V in list)` for special lists
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/ByondApi/ByondApi.Functions.cs
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectAtom.cs
  OpenDreamRuntime/Objects/Types/DreamObjectClient.cs
  OpenDreamRuntime/Objects/Types/DreamObjectFilter.cs
  OpenDreamRuntime/Objects/Types/DreamObjectImage.cs
  OpenDreamRuntime/Objects/Types/DreamObjectSavefile.cs
  OpenDreamRuntime/Objects/Types/DreamObjectTurf.cs
  OpenDreamRuntime/Procs/DebugAdapter/DreamDebugManager.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeList.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/L

#2369 Add code coverage reports
  .github/codecov.yml
  .github/workflows/build-test.yml
  Content.IntegrationTests/Content.IntegrationTests.csproj
  Content.Tests/Content.Tests.csproj
  Directory.Packages.props
Labels: size/M

#2377 Convert to .slnx
  .github/workflows/build-test.yml
  .github/workflows/compiler-test.yml
  .github/workflows/lint.yml
  OpenDream.sln
  OpenDream.slnx
  OpenDreamPackageTool/Program.cs
Labels: size/XL
