Repository OpenDreamProject/OpenDream, pull requests merged in 2025-03, with the labels that each got.

#2229 Add support for more label styling
  OpenDreamClient/Interface/Controls/ControlLabel.cs
Labels: Client, size/M

#2230 Implement the `on-status` DMF event
  OpenDreamClient/DreamClientSystem.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuPopup.xaml.cs
  OpenDreamClient/Input/MouseInputSystem.cs
  OpenDreamClient/Interface/Controls/ControlMap.cs
  OpenDreamClient/Interface/Controls/ControlWindow.cs
  OpenDreamClient/Interface/Controls/InterfaceControl.cs
  OpenDreamClient/Interface/Controls/UI/ScalingViewport.cs
  OpenDreamClient/Interface/Descriptors/ControlDescriptors.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
Labels: Client, size/L

#2232 Implement `/atom/MouseEntered()` and `/atom/MouseExited()`
  DMCompiler/DMStandard/Types/Atoms/_Atom.dm
  OpenDreamClient/DreamClientSystem.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuPopup.xaml.cs
  OpenDreamClient/Input/MouseInputSystem.cs
  OpenDreamClient/Interface/Controls/ControlMap.cs
  OpenDreamClient/Interface/DebugWindows/IconDebugWindow.xaml.cs
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/Input/MouseInputSystem.cs
  OpenDreamRuntime/Map/DreamMapManager.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamShared/Dream/ClientObjectReference.cs
  OpenDreamShared/Dream/ImmutableAppearance.cs
  OpenDreamShared/Dream/MutableAppearance.cs
  OpenDreamShared/Input/SharedMouseInputSystem.cs
Labels: Compiler, Runtime, Client, size/L

#2212 Implement 516 behavior for `~=` and `~!`
  Content.Tests/DMProject/Tests/Builtins/params2list.dm
  Content.Tests/DMProject/Tests/List/AssocListCombine.dm
  Content.Tests/DMProject/Tests/List/ListCut.dm
  Content.Tests/DMProject/Tests/Operators/equivalence.dm
  OpenDreamRuntime/Objects/Types/DreamList.cs
Labels: Runtime, size/S

#2213 Implement 516 `values_` procs
  Content.Tests/DMProject/Tests/Builtins/values_cut.dm
  Content.Tests/DMProject/Tests/Builtins/values_dot.dm
  Content.Tests/DMProject/Tests/Builtins/values_product.dm
  Content.Tests/DMProject/Tests/Builtins/values_sum.dm
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Compiler, Runtime, size/L

#2236 Implement `/atom.MouseMove()`
  OpenDreamClient/Input/MouseInputSystem.cs
  OpenDreamClient/Interface/Controls/ControlMap.cs
  OpenDreamRuntime/Input/MouseInputSystem.cs
  OpenDreamShared/Input/SharedMouseInputSystem.cs
Labels: Runtime, Client, size/M

#2242 Avoid rendering an empty maptext
  OpenDreamClient/Input/MouseInputSystem.cs
  OpenDreamClient/Rendering/ClientScreenOverlaySystem.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamShared/Dream/MouseOpacity.cs
Labels: Runtime, Client, size/S

#2237 Partial `lerp()` implementation
  Content.Tests/DMProject/Tests/Builtins/lerp.dm
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/DreamValue.cs
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Compiler, Runtime, size/M

#2243 Reset shader before final plane render
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/XS

#2244 Overlays on a different plane are `KEEP_APART`
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/S

#2245 Some plane fixes
  OpenDreamClient/Rendering/DreamPlane.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamClient/Resources/ResourceTypes/DMIResource.cs
Labels: Client, size/M

#2246 Group sprite renders by icon
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/XS

#2248 Add a plane debugger
  OpenDreamClient/Interface/DebugWindows/IconDebugWindow.xaml
  OpenDreamClient/Interface/DebugWindows/IconDebugWindow.xaml.cs
  OpenDreamClient/Interface/DebugWindows/PlanesDebugWindow.xaml
  OpenDreamClient/Interface/DebugWindows/PlanesDebugWindow.xaml.cs
  OpenDreamClient/Rendering/DreamPlane.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamClient/Rendering/RendererMetaData.cs
Labels: Client, size/L

#2251 Fix vis_contents not working on screen objects
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/XS

#2250 Avoid creating duplicate icon resources
  OpenDreamClient/Audio/DreamSoundEngine.cs
  OpenDreamClient/Resources/DreamResourceManager.cs
  OpenDreamRuntime/Resources/DreamResourceManager.cs
Labels: Runtime, Client, size/XL

#2252 Include runtime-generated resources in ACZ
  OpenDreamPackaging/DreamPackaging.cs
  OpenDreamRuntime/DreamAczProvider.cs
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/Resources/DreamResourceManager.cs
Labels: Runtime, size/XL

#2249 Rendering optimizations
  OpenDreamClient/Input/ContextMenu/ContextMenuItem.xaml.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuPopup.xaml.cs
  OpenDreamClient/Rendering/DMISpriteComponent.cs
  OpenDreamClient/Rendering/DMISpriteSystem.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamPlane.cs
  OpenDreamClient/Rendering/DreamViewOverlay.TileVisibility.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamShared/Dream/DreamFilter.cs
Labels: Runtime, Client, size/L
