Repository OpenDreamProject/OpenDream, pull requests merged in 2025-01, with the labels that each got.

#2129 Improve parity handling of `null` in various operators
  Content.Tests/DMProject/Tests/Operators/Division.dm
  Content.Tests/DMProject/Tests/Operators/Shared/operator_testing.dm
  Content.Tests/DMProject/Tests/Operators/valid_and_null.dm
  Content.Tests/DMProject/Tests/Operators/valid_and_null_assign.dm
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Runtime, size/L

#1815 Appearance Weakrefs
  Content.IntegrationTests/DMProject/Tests/icons.dmi
  Content.IntegrationTests/DMProject/Tests/image.dm
  Content.IntegrationTests/DMProject/Tests/nonlocal_var.dm
  Content.IntegrationTests/DMProject/code.dm
  Content.IntegrationTests/DMProject/environment.dme
  Content.Tests/DMProject/Tests/Image/Image.dm
  Content.Tests/DMProject/Tests/Savefile/ExportText.dm
  Content.Tests/DummyDreamMapManager.cs
  DMCompiler/DMStandard/Types/Image.dm
  OpenDreamClient/EntryPoint.cs
  OpenDreamClient/Input/ContextMenu/ContextMenuPopup.xaml.cs
  OpenDreamClient/Input/ContextMenu/VerbMenuPopup.xaml.cs
  OpenDreamClient/Input/MouseInputSystem.cs
  OpenDreamClient/Interface/DebugWindows/IconDebugWindow.xaml.cs
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/DreamManager.Connections.cs
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/DreamMapManager.cs
  OpenDreamRuntime/DreamValue.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectArea.cs
  OpenDreamRuntime/Objects/Types/DreamObjectAtom.cs
  OpenDreamRuntime/Objects/Types/DreamObjectImage.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMatrix.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMovable.cs
  OpenDreamRuntime/Objects/Types/DreamObjectTurf.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeHelpers.cs
  OpenDreamRuntime/Rendering/DMISpriteComponent.cs
  OpenDreamRuntime/Rendering/DMISpriteSystem.cs
  OpenDreamRuntime/Rendering/ServerAppearanceSystem.cs
  OpenDreamRuntime/Rendering/ServerClientImagesSystem.cs
  OpenDreamRuntime/ServerContentIoC.cs
  OpenDreamRuntime/ServerVerbSystem.cs
  OpenDreamShared/Dream/ClientObjectReference.cs
  OpenDreamShared/Dream/ColorMatrix.cs
  OpenDreamShared/Dream/ImmutableAppearance.cs
  OpenDreamShared/Dream/MutableAppearance.cs
  OpenDreamShared/Network/Messages/MsgAllAppearances.cs
  OpenDreamShared/Network/Messages/MsgNewAppearance.cs
  OpenDreamShared/Rendering/SharedAppearanceSystem.cs
  OpenDreamShared/Rendering/SharedDMISpriteComponent.cs
  TestGame/map_z1.dmm
  TestGame/renderer_tests.dm
Labels: Compiler, Runtime, Client, size/XXL

#2154 Fix integration test not creating a client
  OpenDreamClient/Interface/DummyDreamInterfaceManager.cs
Labels: Client, size/XS

#2156 Add console tab completion keybinds to keybinds.yml
  Resources/keybinds.yml
Labels: size/S

#2153 List append self
  Content.Tests/DMProject/Tests/List/ListAppendSelf.dm
  OpenDreamRuntime/Objects/Types/DreamList.cs
Labels: Runtime, size/M

#2159 Add support for `final` on object vars
  Content.Tests/DMProject/Tests/Statements/VarDecl/cant_override_final.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DM/AST/DMAST.ObjectStatements.cs
  DMCompiler/Compiler/DM/DMPath.cs
  DMCompiler/DM/DMCodeTree.Vars.cs
  DMCompiler/DM/DMObjectTree.cs
  DMCompiler/DM/DMVariable.cs
Labels: Compiler, size/L

#2155 Fix `vis_contents` invisibility
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/S

#2157 Look for ressources in the dirrectory of the environement
  DMCompiler/DMCompiler.cs
Labels: Compiler, size/S

#2164 Add relative path compiler test
  .github/workflows/compiler-test.yml
Labels: size/XS

#2038 update input() style
  OpenDreamClient/Interface/DreamStylesheet.cs
  OpenDreamClient/Interface/Prompts/ListPrompt.cs
  OpenDreamClient/Interface/Prompts/TextPrompt.cs
  TestGame/code.dm
Labels: Client, size/L

#2168 Disable the PreferConcreteValueOverDefault notice
  OpenDream.sln.DotSettings
  OpenDreamClient/States/DreamUserInterfaceStateManager.cs
Labels: Client, size/XS

#2167 Server hop support in `link()`
  OpenDreamClient/Interface/DreamInterfaceManager.cs
Labels: Client, size/S

#2169 Disable the ConvertIfStatementToConditionalTernaryExpression lint
  OpenDream.sln.DotSettings
Labels: size/XS

#2031 Optimize some collections
  OpenDreamRuntime/Objects/DreamObjectTree.cs
Labels: Runtime, size/M

#2171 Update the `upload-artifact` action to v4
  .github/workflows/build-test.yml
Labels: size/XS

#2172 Update the `download-artifact` action to v4
  .github/workflows/build-test.yml
Labels: size/XS

#2170 Implement `get_steps_to()` and `get_step_to()`
  Content.Tests/ContentUnitTest.cs
  Content.Tests/DummyDreamMapManager.cs
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/Input/MouseInputSystem.cs
  OpenDreamRuntime/Map/DreamMapManager.Pathfinding.cs
  OpenDreamRuntime/Map/DreamMapManager.cs
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/DreamObjectDefinition.cs
  OpenDreamRuntime/Objects/DreamObjectTree.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectTurf.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeHelpers.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamRuntime/Procs/NativeProc.cs
  OpenDreamRuntime/ServerContentIoC.cs
  OpenDreamRuntime/WalkManager.cs
Labels: Compiler, Runtime, size/L

#2050 Change the movable contents to special list, and make view include Contents
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMovable.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Runtime, size/L

#2173 Fix var blocks creating an empty type named `var`
  DMCompiler/Compiler/DM/AST/DMAST.ObjectStatements.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMCodeTreeBuilder.cs
Labels: Compiler, size/M

#2175 Fix empty braced object blocks and add null object statements
  DMCompiler/Compiler/DM/AST/DMAST.ObjectStatements.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMCodeTreeBuilder.cs
Labels: Compiler, size/S

#2108 Basic Maptext
  DMCompiler/DMStandard/Types/Atoms/_Atom.dm
  DMCompiler/DMStandard/Types/Image.dm
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamRuntime/AtomManager.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamShared/Dream/ImmutableAppearance.cs
  OpenDreamShared/Dream/MutableAppearance.cs
  TestGame/code.dm
Labels: Compiler, Runtime, Client, size/L

#2174 Fix text box on goon by fixing element lookup
  OpenDreamClient/Interface/Descriptors/InterfaceDescriptor.cs
Labels: Client, size/XS

#2052 Fix self-targeting verbs
  OpenDreamClient/Input/ContextMenu/VerbMenuPopup.xaml.cs
Labels: Client, size/XS

#2176 Fix overriding runtime-initialized vars with constants
  DMCompiler/DM/DMCodeTree.Vars.cs
  DMCompiler/DM/DMObject.cs
Labels: Compiler, size/M

#2180 Fix a missed RenderTargetPool return
  OpenDreamClient/Rendering/DreamIcon.cs
Labels: Client, size/XS

#2179 Rich text rendering and HTML parsing for maptext
  OpenDreamClient/Interface/DebugWindows/IconDebugWindow.xaml.cs
  OpenDreamClient/Interface/Html/HtmlParser.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamClient/Rendering/MapTextRenderer.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMovable.cs
Labels: Runtime, Client, size/L

#2177 Fix parsing global var decls with whitespace
  Content.Tests/DMProject/Tests/Statements/VarDecl/global_whitespace.dm
  DMCompiler/Compiler/DM/DMParser.cs
Labels: Compiler, size/S

#2181 Fix initial maptext vars
  OpenDreamRuntime/AtomManager.cs
Labels: Runtime, size/S

#2182 Fix an error in `OnNewAppearance()`
  OpenDreamClient/Interface/Html/HtmlParser.cs
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/S

#2183 Fix appearance-load callbacks being called before the appearance is initialized
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
Labels: Client, size/XS

#2184 Return to new appearances being events
  OpenDreamClient/EntryPoint.cs
  OpenDreamClient/Interface/DummyDreamInterfaceManager.cs
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamRuntime/DreamManager.Connections.cs
  OpenDreamRuntime/Rendering/ServerAppearanceSystem.cs
  OpenDreamShared/Dream/ImmutableAppearance.cs
  OpenDreamShared/Network/Messages/MsgNewAppearance.cs
  OpenDreamShared/Rendering/SharedAppearanceSystem.cs
Labels: Runtime, Client, size/M

#2185 Make overlay-resolves and load-callbacks separate passes
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
Labels: Client, size/S

#2189 Avoid full-rendering sprites a second time in the mouse map
  OpenDreamClient/Rendering/DreamPlane.cs
Labels: Client, size/XS

#2191 Avoid recalculating tile visibility when nothing is changing
  OpenDreamClient/Rendering/DMISpriteSystem.cs
  OpenDreamClient/Rendering/DreamViewOverlay.TileVisibility.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
Labels: Client, size/L
