Repository OpenDreamProject/OpenDream, pull requests merged in 2025-06, with the labels that each got.

#2294 Support comma and period macros
  OpenDreamClient/Interface/InterfaceMacro.cs
Labels: Client, size/XS

#2299 Fix `alist()` in obj definitions
  DMCompiler/DM/DMCodeTree.Vars.cs
Labels: Compiler, size/XS

#2298 ByondApi thread safety
  OpenDream.sln.DotSettings
  OpenDreamRuntime/ByondApi/ByondApi.Functions.cs
  OpenDreamRuntime/ByondApi/ByondApi.cs
  OpenDreamRuntime/DreamManager.cs
Labels: Runtime, size/XL

#2305 Include the Tracy DLL in packaged releases
  OpenDreamPackageTool/ServerPackaging.cs
Labels: size/XS

#2304 implement `datum.vars.Find()`
  OpenDreamRuntime/Objects/Types/DreamList.cs
Labels: Runtime, size/XS

#2315 fix bad proc refs throwing an error
  OpenDreamRuntime/DreamManager.cs
Labels: Runtime, size/XS

#2308 Implement `flick()`
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamClient/Rendering/RendererMetaData.cs
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
  OpenDreamRuntime/Rendering/ServerAppearanceSystem.cs
  OpenDreamShared/Rendering/SharedAppearanceSystem.cs
Labels: Compiler, Runtime, Client, size/L

#2318 Fix bit-shift operators to match BYOND
  Content.Tests/DMProject/Tests/Operators/bitshift_large.dm
  Content.Tests/DMProject/Tests/Operators/valid_and_null_assign_const.dm
  Content.Tests/DMProject/Tests/Operators/valid_and_null_const.dm
  DMCompiler/DM/Expressions/Binary.cs
  DMCompiler/Optimizer/PeepholeOptimizations.cs
  DMCompiler/SharedOperations.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
Labels: Compiler, Runtime, size/L

#2320 Implement `callee`
  Content.Tests/DMProject/Tests/Builtins/callee.dm
  DMCompiler/Bytecode/DMReference.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/DMObjectTree.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/Expressions/LValue.cs
  DMCompiler/DMStandard/Types/Callee.dm
  DMCompiler/DMStandard/_Standard.dm
  DMCompiler/DreamPath.cs
  DMCompiler/Optimizer/AnnotatedByteCodeWriter.cs
  DMCompiler/Optimizer/AnnotatedBytecodeSerializer.cs
  OpenDreamRuntime/DreamThread.cs
  OpenDreamRuntime/Objects/DreamObject.cs
  OpenDreamRuntime/Objects/DreamObjectTree.cs
  OpenDreamRuntime/Objects/Types/DreamObjectCallee.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Compiler, Runtime, size/L

#2323 Update default `DM_VERSION` and `DM_BUILD` to 516.1655
  .github/workflows/compiler-test.yml
  DMCompiler/DMCompiler.cs
Labels: Compiler, size/XS

#2282 Add opendream_unsupported
  .github/workflows/compiler-test.yml
  Content.Tests/DMProject/Tests/SetStatements/unsupported.dm
  DMCompiler/Compiler/CompilerError.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/DM/Builders/DMExpressionBuilder.cs
  DMCompiler/DM/DMProc.cs
  DMCompiler/DM/DMValueType.cs
  DMCompiler/DM/Expressions/Procs.cs
  DMCompiler/DMCompiler.cs
  DMCompiler/DMStandard/Types/Client.dm
  DMCompiler/DMStandard/Types/World.dm
  DMCompiler/Program.cs
Labels: Compiler, size/L

#2326 Implement integer `world.icon_size` values
  OpenDreamClient/Input/MouseInputSystem.cs
  OpenDreamClient/Interface/Controls/ControlMap.cs
  OpenDreamClient/Interface/DreamInterfaceManager.cs
  OpenDreamClient/Interface/DummyDreamInterfaceManager.cs
  OpenDreamClient/Rendering/AtomGlideSystem.cs
  OpenDreamClient/Rendering/ClientAppearanceSystem.cs
  OpenDreamClient/Rendering/DMISpriteSystem.cs
  OpenDreamClient/Rendering/DreamIcon.cs
  OpenDreamClient/Rendering/DreamPlane.cs
  OpenDreamClient/Rendering/DreamViewOverlay.cs
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamRuntime/Objects/DreamIcon.cs
  OpenDreamRuntime/Objects/Types/DreamObjectIcon.cs
  OpenDreamRuntime/Objects/Types/DreamObjectMovable.cs
  OpenDreamRuntime/Objects/Types/DreamObjectWorld.cs
  OpenDreamShared/Network/Messages/MsgUpdateClientInfo.cs
Labels: Runtime, Client, size/L

#2335 Fix the `vars` list of objects not being freed on del.
  OpenDreamRuntime/Objects/DreamObject.cs
Labels: Runtime, size/XS

#2317 `PushFloatAssign` Optimization
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/Optimizer/CompactorOptimizations.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, Runtime, size/L

#2321 Implements bounds_dist
  Content.IntegrationTests/DMProject/Tests/block.dm
  Content.IntegrationTests/DMProject/Tests/bounds_dist.dm
  Content.IntegrationTests/DMProject/code.dm
  Content.IntegrationTests/DMProject/environment.dme
  Content.IntegrationTests/DMProject/map.dmm
  DMCompiler/DMStandard/UnsortedAdditions.dm
  DMCompiler/DMStandard/_Standard.dm
  OpenDreamRuntime/Procs/Native/DreamProcNative.cs
  OpenDreamRuntime/Procs/Native/DreamProcNativeRoot.cs
Labels: Compiler, Runtime, size/L

#2331 Reuse large lists
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/Objects/Types/DreamList.cs
  OpenDreamShared/OpenDreamCVars.cs
Labels: Runtime, Client, size/M
