Repository OpenDreamProject/OpenDream, pull requests merged in 2025-04, with the labels that each got.

#2255 Change `--suppress-unimplemented` to emit the pragma's warning code
  DMCompiler/DMCompiler.cs
Labels: Compiler, size/S

#2256 Optimize `world.tick_usage`
  Content.Tests/DummyDreamMapManager.cs
  OpenDreamRuntime/DreamManager.Connections.cs
  OpenDreamRuntime/DreamManager.cs
  OpenDreamRuntime/Map/DreamMapManager.cs
  OpenDreamRuntime/Objects/Types/DreamObjectWorld.cs
  OpenDreamRuntime/Resources/DreamResource.cs
  OpenDreamRuntime/Resources/DreamResourceManager.cs
Labels: Runtime, size/L

#2241 Implement `for(k,v in L)` syntax
  Content.Tests/DMProject/Tests/Loop/ForAssoc.dm
  DMCompiler/Bytecode/DreamProcOpcode.cs
  DMCompiler/DM/Builders/DMProcBuilder.cs
  DMCompiler/DM/DMProc.cs
  OpenDreamRuntime/Procs/DMOpcodeHandlers.cs
  OpenDreamRuntime/Procs/DMProc.cs
  OpenDreamRuntime/Procs/DreamEnumerators.cs
  OpenDreamRuntime/Procs/ProcDecoder.cs
Labels: Compiler, Runtime, size/L

#2257 Implement `DblClick()`
  DMCompiler/DMStandard/Types/Atoms/_Atom.dm
  DMCompiler/DMStandard/Types/Client.dm
  OpenDreamRuntime/DreamConnection.cs
  OpenDreamRuntime/Input/MouseInputSystem.cs
Labels: Compiler, Runtime, size/S

#2258 public compiler/lexer/preproc
  DMCompiler/Compiler/DM/DMLexer.cs
  DMCompiler/Compiler/DM/DMParser.cs
  DMCompiler/Compiler/DM/DMParserHelper.cs
  DMCompiler/Compiler/DMPreprocessor/DMPreprocessor.cs
  DMCompiler/Compiler/Lexer.cs
  DMCompiler/Compiler/Parser.cs
Labels: Compiler, size/S

#2260 Implement `/proc/final/`
  Content.Tests/DMProject/Tests/Procs/final_proc.dm
  Content.Tests/DMProject/Tests/Procs/final_proc2.dm
  Content.Tests/DMProject/Tests/Procs/final_proc3.dm
  DMCompiler/Compiler/DM/AST/DMAST.ObjectStatements.cs
  DMCompiler/DM/DMCodeTree.Procs.cs
  DMCompiler/DM/DMProc.cs
Labels: Compiler, size/M

#2259 Enable nullable in the disassembler
  DMCompiler/Json/DreamCompiledJson.cs
  DMDisassembler/DMDisassembler.csproj
  DMDisassembler/DMProc.cs
  DMDisassembler/DMType.cs
  DMDisassembler/Program.cs
Labels: Compiler, size/M

#2262 Nuke a bunch of Stack<> allocs
  DMCompiler/Optimizer/AnnotatedByteCodeWriter.cs
Labels: Compiler, size/L

#2263 Don't rebuild the opt tree on every proc
  DMCompiler/Optimizer/PeepholeOptimizer.cs
Labels: Compiler, size/XS
